// MEDIA QUERIES
// ---------

@media screen and (max-height: 650px){
  
  .statistics{
    section{
      overflow:auto;
      -webkit-overflow-scrolling: touch;
    }
    .in-statistics{
      position:relative;
      left:0;
      top:0;
      margin:0 auto 0;
      padding:60px 0 50px 0;
      .size(820px, auto);
    }
    .btn-back{
      top:60px;
    }
  }

}

@media screen and (max-height: 570px){
  
  .list{
    .create-own{
      margin:170px 0 0 0;
      
      p{
        display:inline-block;
        padding:0 10px 0 0;
        margin:0;
        .font-size(12, 30px);
      }
    }
  }
  .list-info{
    margin:-250px 0 0 0;
  }

  .after-video{
    section{
      overflow:auto;
      -webkit-overflow-scrolling: touch;
    }
    .in-after-video{
      position:relative;
      left:0;
      top:0;
      margin:0 auto 0;
      padding:30px 0 50px 0;
      .size(940px, 550px);
    }
  }

}


@media screen and (max-height: 540px){
  
  // LIST - INFO + CONTROL
  .list-info{
    margin:-230px 0 0 0;
  }

  // SHOW DETAIL
  .show-detail{
    .ul-list{
      article,
      .done{
        .btn{
          right:40px;
          bottom:-19px;
        }
      }
    }
  }

  // LIST - JOURNEY
  .ul-list{
    article{
      &.act{
        .btn{
          right:60px;
          bottom:-19px;
        }
      }
      &.noanim{
        .btn{
          right:40px;
          bottom:-19px;
        }
      }
    }
    .btn{
      right:40px;
      bottom:-19px;
    }
  }

}


@media screen and (max-height: 500px){
  
  .maps-aside{
    .in-maps-aside{
      padding:10px 95px 10px 20px;
    }
    h1{
      margin:0 0 15px 0;
    }
    .btn-about-car{
      left:35px;
      bottom:15px;
    }
  }

}
