// BODY
// ---------
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(js/libs/boxsizing.htc);
}
html, body {
  .square(100%);
  overflow:hidden;
  overflow-x:hidden;
  overflow-y:hidden;
}

body {
  background:@black;
  margin: 0;
  line-height: 1;
  .font-size(@baseFontSize);
  #font > #family > .sans-serif();
  color:@basecolor;
}


// LINKS
// ---------
a {
  color:@black;
  text-decoration:underline;
}
a:hover {
  text-decoration:none;
}


// LAYOUT
// ---------
.page{
  position:absolute;
  left:0;
  top:100%;
  padding:0 0 35px 0;
  .square(100%);
  z-index:5;
}
.page-active {
  top:0;
  z-index:10;

  .bg-img{
    display:block;
  }
}
.bg-img {
  display:none;
  position:absolute;
  left:0;
  top:0;
  .square(100%);
  .opacity(100);
  z-index:5;
  .transition(all 0.5s ease-in-out);

  &.done {
    .opacity(0);
  }
}
.btn-black {
  position:relative;
  display:inline-block;
  .size(auto, 39px);
  .font-size(18, 39px);
  color:@white;
  #gradient > .vertical(#3f3f3f, #010101);
  //background:url(../img/btn-black-bg.png) 0 0 repeat-x @black;
  text-decoration:none;
  vertical-align:top;
  overflow:hidden;
  .transition(background 0.2s ease-in-out);
  .c;
  
  &:hover {
    background:#53b133;
    //background:#49a62d;
  }
  span{
    position:relative;
    float:left;
    padding:0 17px 0 17px;
    z-index:5;
  }
  i{
    position:relative;
    float:left;
    .size(34px, 39px);
    background:url(../img/btn-green-bg.png) 0 0 no-repeat;

    &:after{
      content:'';
      position:absolute;
      right:12px;
      top:13px;
      .size(7px, 11px);
      background:url(../img/btn-fb-arrow.png) 0 0 no-repeat;
    }
  }
}
.btn-green{
  position:relative;
  display:inline-block;
  .size(auto, 40px);
  #font > #family > .sans-serif();
  .font-size(18, 40px);
  color:@white;
  #gradient > .vertical(#4ba82e, #47a22b);
  //background:#4ba82e;
  text-decoration:none;
  vertical-align:top;
  overflow:hidden;
  .transition(all 0.2s ease-in-out);
  .c;
  
  &:hover{
    background:#35861c;
  }
  span{
    position:relative;
    float:left;
    //padding:0 17px 0 17px;
    padding:0 40px 0 17px;
    background:url(../img/btn-darkgreen-bg.png) right 0 no-repeat;
  }
  i{
    position:absolute;
    right:10px;
    top:13px;
    .size(7px, 11px);
    background:url(../img/btn-fb-arrow.png) 0 0 no-repeat;
  }
}
.btn-fb-login{
  position:relative;
  display:inline-block;
  margin:0 0 15px 0;
  padding:0 28px 0 50px;
  .size(auto, 43px);
  #font > #family > .sans-serif-bold();
  .font-size(13, 43px);
  color:@white;
  background:url(../img/btn-fb.png) -300px 0 no-repeat #125797;
  text-decoration:none;
  .box-shadow(-2px 4px 10px rgba(0,0,0,.4));
  .transition(all 0.2s ease-in-out);

  &:hover{
    background:url(../img/btn-fb.png) 0 0 no-repeat #013464;
  }
  &:before{
    content:'';
    position:absolute;
    right:10px;
    top:15px;
    .size(7px, 11px);
    background:url(../img/btn-fb-arrow.png) 0 0 no-repeat;
  }
  i{
    position:absolute;
    left:0;
    top:0;
    .size(37px, 100%);
    background:url(../img/btn-fb-ico.png) center center no-repeat;
  }
}
.friend-list{
  .size(100%, 37px);
  .c;

  li{
    float:left;
    margin:0 8px 0 0;
    .square(34px);
  }
  a{
    position:relative;
    display:block;
    .square(34px);
    .border-radius(17px);
    .box-shadow(-1px 1px 3px rgba(0,0,0,.5));

    &:hover{
      i{
        .opacity(100);
      }
    }
  }
  i{
    position:absolute;
    right:-5px;
    top:-5px;
    .square(18px);
    .border-radius(9px);
    background:url(../img/user-list-remove.png) center center no-repeat #df0000;
    .opacity(0);
    .transition(all 0.3s ease-in-out);
    z-index:10;
  }
  img{
    .square(34px);
    .border-radius(17px);
  }
}
.country-stats{
  .size(100%, 85px);
  .c;

  li{
    position:relative;
    float:left;
    text-align:left;
  }
  i{
    position:absolute;
    left:0;
    top:0;
    z-index:1;
  }
  .desc{
    position:absolute;
    left:0;
    top:20px;
    padding:0 10px 0 15px;
    #font > #family > .sans-serif-medium();
    .font-size(12, 1.4em);
    background:url(../img/country-stats-green-point.png) 0 2px no-repeat;
    z-index:5;

    strong{
      #font > #family > .sans-serif-bold();
      .font-size(18, 1.2em);
    }
  }
  .you{
    .size(110px, 100%);
    
    i{
      top:5px;
      .size(63px, 59px);
      background:url(../img/country-you.png) 0 0 no-repeat;
    }
    .desc{
      left:30px;
    }
  }
  .car{
    .size(160px, 100%);

    img{
      position:absolute;
      left:15px;
      top:5px;
    }
  }

  .country-es{
    .size(150px, 100%);
    
    i{
      .size(83px, 67px);
      background:url(../img/country-es.png) 0 0 no-repeat;
    }
    .desc{
      left:25px;
    }
  }
  .country-at{
    .size(190px, 100%);
    
    i{
      .size(133px, 66px);
      background:url(../img/country-at.png) 0 0 no-repeat;
    }
    .desc{
      left:65px;
    }
  }
  .country-be{
    .size(150px, 100%);
    
    i{
      .size(72px, 66px);
      background:url(../img/country-be.png) 0 0 no-repeat;
    }
    .desc{
      left:35px;
    }
  }
  .country-sk{
    .size(160px, 100%);
    
    i{
      .size(135px, 67px);
      background:url(../img/country-sk.png) 0 0 no-repeat;
    }
    .desc{
      left:35px;
    }
  }
  .country-cs{
    .size(150px, 100%);
    
    i{
      .size(114px, 66px);
      background:url(../img/country-czech.png) 0 0 no-repeat;
    }
    .desc{
      left:30px;
    }
  }
  .country-it{
    .size(150px, 100%);
    
    i{
      .size(85px, 75px);
      background:url(../img/country-it.png) 0 0 no-repeat;
    }
    .desc{
      left:30px;
    }
  }
  .country-dk{
    .size(130px, 100%);
    
    i{
      .size(114px, 66px);
      background:url(../img/country-dk.png) 0 0 no-repeat;
    }
    .desc{
      left:30px;
    }
  }
  .country-ch{
    .size(150px, 100%);
    
    i{
      .size(106px, 66px);
      background:url(../img/country-ch.png) 0 0 no-repeat;
    }
    .desc{
      left:30px;
    }
  }
  .country-ro{
    .size(150px, 100%);
    
    i{
      .size(94px, 67px);
      background:url(../img/country-ro.png) 0 0 no-repeat;
    }
    .desc{
      left:30px;
    }
  }
  .country-pt{
    .size(160px, 100%);
    
    i{
      .size(49px, 66px);
      background:url(../img/country-pt.png) 0 0 no-repeat;
    }
    .desc{
      left:20px;
    }
  }
  .country-pl{
    .size(150px, 100%);
    
    i{
      .size(72px, 66px);
      background:url(../img/country-pl.png) 0 0 no-repeat;
    }
    .desc{
      left:20px;
    }
  }
  .country-hr{
    .size(150px, 100%);
    
    i{
      .size(76px, 66px);
      background:url(../img/country-hr.png) 0 0 no-repeat;
    }
    .desc{
      left:20px;
    }
  }
  .country-ga{
    .size(150px, 100%);
    
    i{
      .size(65px, 66px);
      background:url(../img/country-ga.png) 0 0 no-repeat;
    }
    .desc{
      left:30px;
    }
  }
  .country-bg{
    .size(150px, 100%);
    
    i{
      .size(100px, 67px);
      background:url(../img/country-bg.png) 0 0 no-repeat;
    }
    .desc{
      left:20px;
    }
  }
  .country-fr{
    .size(150px, 100%);
    
    i{
      .size(67px, 67px);
      background:url(../img/country-fr.png) 0 0 no-repeat;
    }
    .desc{
      left:30px;
    }
  }
  .country-no{
    .size(170px, 100%);
    
    i{
      .size(65px, 66px);
      background:url(../img/country-no.png) 0 0 no-repeat;
    }
    .desc{
      left:27px;
    }
  }
  .country-lv{
    .size(150px, 100%);
    
    i{
      .size(118px, 66px);
      background:url(../img/country-lv.png) 0 0 no-repeat;
    }
    .desc{
      left:20px;
    }
  }
  .country-sv{
    .size(150px, 100%);
    
    i{
      .size(36px, 66px);
      background:url(../img/country-sv.png) 0 0 no-repeat;
    }
    .desc{
      left:15px;
    }
  }
  .country-hu{
    .size(150px, 100%);
    
    i{
      .size(108px, 66px);
      background:url(../img/country-hu.png) 0 0 no-repeat;
    }
    .desc{
      left:20px;
    }
  }
  .country-en{
    .size(150px, 100%);
    
    i{
      .size(42px, 66px);
      background:url(../img/country-en.png) 0 0 no-repeat;
    }
    .desc{
      left:25px;
    }
  }
  .country-de{
    .size(150px, 100%);
    
    i{
      .size(50px, 66px);
      background:url(../img/country-de.png) 0 0 no-repeat;
    }
    .desc{
      left:15px;
    }
  }
  .country-nl{
    .size(150px, 100%);
    
    i{
      .size(67px, 67px);
      background:url(../img/country-nl.png) 0 0 no-repeat;
    }
    .desc{
      left:25px;
    }
  }
  .country-ba{
    .size(150px, 100%);
    
    i{
      .size(67px, 66px);
      background:url(../img/country-ba.png) 0 0 no-repeat;
    }
    .desc{
      left:25px;
    }
  }
  .country-si{
    .size(150px, 100%);
    
    i{
      .size(103px, 66px);
      background:url(../img/country-si.png) 0 0 no-repeat;
    }
    .desc{
      left:25px;
    }
  }
  .country-rs{
    .size(150px, 100%);
    
    i{
      .size(46px, 66px);
      background:url(../img/country-rs.png) 0 0 no-repeat;
    }
    .desc{
      left:15px;
    }
  }
  .country-dk{
    .size(150px, 100%);
    
    i{
      .size(114px, 66px);
      background:url(../img/country-dk.png) 0 0 no-repeat;
    }
    .desc{
      left:20px;
    }
  }

  .country-world{
    .size(195px, 100%);
    
    i{
      .size(136px, 72px);
      background:url(../img/country-world.png) 0 0 no-repeat;
    }
    .desc{
      left:55px;
    }
  }
  .country-europe{
    .size(175px, 100%);
    
    i{
      .size(101px, 77px);
      background:url(../img/country-europe.png) 0 0 no-repeat;
    }
    .desc{
      left:45px;
    }
  }
  .country-asia{
    .size(140px, 100%);
    
    i{
      .size(73px, 82px);
      background:url(../img/country-asia.png) 0 0 no-repeat;
    }
    .desc{
      left:35px;
    }
  }
}


// VIDEO
// ---------
.video{
  position:absolute;
  left:0;
  top:0;
  .square(100%);
  visibility:hidden;
}
#video{
  position:absolute;
  left:0;
  top:0;
  //.size(100%, 100%) !important;
  background:@black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  video{
    .square(100%);
  }
}


// HEADER
// ---------
header{
  position:fixed;
  left:0;
  top:0;
  .size(100%, 50px);
  z-index:990;
  
  &.act{
    .header{
      top:0;
      .opacity(100);
    }
  }
  .header{
    position:absolute;
    left:0;
    top:-95px;
    .size(100%, 69px);
    border-bottom:1px solid #6e6e6e;
    background:@white;
    text-align:center;
    .opacity(0);
    .transition(all 0.2s ease-in-out);
  }
  .motto{
    position:absolute;
    left:47px;
    top:17px;
    display:block;
    .ir(84px, 9px);
    background:url(../img/header-motto.png) 0 0 no-repeat;
  }
  h1{
    position:absolute;
    right:0;
    top:0;
    .size(136px, 94px);

    a{
      display:block;
      .ir(136px, 94px);
      background:url(../img/header-logo.png) 0 0 no-repeat
    }
  }
}


// FOOTER
// ---------
footer{
  position:absolute;
  left:0;
  bottom:0;
  .size(100%, 35px);
  background:@black;
  z-index:990;
  .c;
  
  .pull-left{
    padding:0 0 0 20px;
  }
  span{
    float:left;
    display:inline-block;
    .size(auto, 35px);
    #font > #family > .sans-serif-medium();
    .font-size(11, 33px);
    color:#999;
    vertical-align:top;
  }
  .hr{
    float:left;
    .size(15px, 35px);
    background:url(../img/footer-hr.png) center 11px no-repeat;
  }
  a{
    float:left;
    display:inline-block;
    .size(auto, 35px);
    #font > #family > .sans-serif-medium();
    .font-size(11, 33px);
    color:#999;
    text-decoration:none;
    vertical-align:top;
    .transition(all 0.3s ease-in-out);

    &:hover{
      color:@white;
    }
  }
  .btn-language{
    float:left;
    position:relative;
    left:0;
    top:6px;
    margin:0 10px 0 5px;
    padding:0 24px 0 9px;
    height: 22px;
    min-width: 98px;
    border:1px solid #666;
    .font-size(11, 20px);
    background:url(../img/footer-language-bg.png) right 0 no-repeat;

    &:hover{
      background-position:right -20px;
    }
  }
  .btn-fb{
    float:left;
    position:relative;
    top:6px;
    left:0;
    margin-right: 10px;
    .ir(20px, 20px, inline-block);
    background:url(../img/footer-fb-ico.png) 0 0 no-repeat;
    
    &:hover{
      i{
        .opacity(100);
      }
    }
    i{
      position:absolute;
      left:0;
      top:0;
      display:block;
      .square(20px);
      background:url(../img/footer-fb-ico.png) 0 -20px no-repeat;
      .opacity(0);
      .transition(all 0.2s ease-in-out);
    }
  }
  .btn-green{
    margin-left:15px;
    .size(auto, 35px);
    #font > #family > .sans-serif();
    .font-size(14, 35px);
    color:@white;
    
    span{
      .font-size(14, 35px);
      color:@white;
    }
    i{
      top:12px;
    }
  }
  .sound-on,
  .sound-off{
    display:none;
    margin-right: 10px;

    &.act{
      display:inline-block;
    }
  }
  .more{
    float:left;
    position:relative;
    .size(auto, 35px);
    .c;

    &> a{
      float:left;
      position:relative;
      left:0;
      top:6px;
      margin:0 10px 0 0;
      padding:0 30px 0 9px;
      .size(auto, 22px);
      border:1px solid #666;
      .font-size(11, 20px);
      background:url(../img/footer-language-bg.png) right 0 no-repeat;

      &:hover{
        background-position:right -20px;
      }
    }
    ul{
      display:block;
      position:absolute;
      left:9px;
      bottom:-300px;
      padding:2px 10px;
      .size(auto, auto);
      background:@black;
      visibility:hidden;
      .opacity(0);
      .transition(all 0.2s ease-in-out);
      
      &.act{
        bottom:36px !important;
        visibility:visible;
        .opacity(100);
      }
      li{
        display:block;
        .size(100%, 30px);
        border-top:1px solid #4d4d4d;
        white-space:nowrap;

        &:first-child{
          border-top:0;
        }
      }
      a{
        display:block;
        padding:0 20px 0 0;
        .size(100%, 29px);
        .font-size(11, 29px);
      }
    }
  }
  .more-music {
    > a {
      background: url(../img/ico-music.png) no-repeat 1px 3px;
      border: 0;
      .ir(20px, 20px, inline-block);
      .opacity(40);
      padding: 0;

      &:hover {
        background-position: 1px 3px;
        .opacity(100);        
      }
    }
  }
}


// SECTION
// ---------
section{
  position:relative;
}
.full-loader {
  background: #000 url(../img/loader.gif) no-repeat 50% 50%;
  height: 100%;
  left: 0;
  .opacity(80);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

// HOME
.home{
  &.after-load{
    article{
      h1,ul{
        margin-left:0;
        .opacity(100);
      }
    }
    .btn-list{
      left:0;
      .opacity(100);
    }
  }
  section{
    .square(100%);
    background:url(../img/bg.png) 0 0 repeat;
    z-index:10;
  }
  article{
    position:absolute;
    left:0;
    top:50%;
    margin:-160px 0 0 0;
    .size(100%, auto);
    z-index:5;
    text-align:center;
  }
  .in-article{
    position:relative;
    margin:0 auto 0;
    .size(360px, auto);
    text-align:center;
  }
  
  .buffer{
    position:absolute;
    left:0;
    top:130px;
    .size(100%, 3px);

    i{
      display:block;
      position:relative;
      left:0;
      top:1px;
      margin:0 auto 0;
      border:0;
      .size(360px, 1px);
      background:rgb(255,255,255);
      .opacity(30);
      .transition(all 0.2s ease-in-out);
      z-index:5;
    }
    strong{
      position:absolute;
      left:0;
      top:0;
      .size(0%, 100%);
      background:#4ba82e;
      z-index:10;
    }
  }

  h1{
    margin:0 0 55px -100px;
    .font-size(26);
    color:#51c42d;
    .opacity(0);
    .transition(all 0.3s 0.2s ease-in-out);

    strong{
      display:inline-block;
      padding:5px 0;
      #font > #family > .sans-serif();
      .font-size(45);
      color:@white;
    }
  }
  ul{
    margin:0 0 30px -100px;
    .opacity(0);
    .transition(all 0.3s 0.2s ease-in-out);

    li{
      margin:0 0 10px 0;
      //padding:0 0 0 18px;
      #font > #family > .sans-serif-medium();
      .font-size(12);
      color:@white;
      //background:url(../img/li-arrow.png) 0 1px no-repeat;
    }
  }
  .btn-list{
    position:relative;
    left:100px;
    top:0;
    .opacity(0);
    .transition(all 0.3s 0.2s ease-in-out);
    z-index:5;
    
    .btn-fb-login{
      .font-size(13, 43px);
    }
    a{
      #font > #family > .sans-serif-medium();
      .font-size(12);
      color:@white;
    }
  }
  .arrow-left-top{
    position:absolute;
    left:10px;
    top:10px;
    .square(15px);
    background:url(../img/home-arrow-left-top.png) 0 0 no-repeat;
  }
  .arrow-left-bottom{
    position:absolute;
    left:10px;
    bottom:10px;
    .square(15px);
    background:url(../img/home-arrow-left-bottom.png) 0 0 no-repeat;
  }
  .arrow-right-top{
    position:absolute;
    right:10px;
    top:10px;
    .square(15px);
    background:url(../img/home-arrow-right-top.png) 0 0 no-repeat;
  }
  .arrow-right-bottom{
    position:absolute;
    right:10px;
    bottom:10px;
    .square(15px);
    background:url(../img/home-arrow-right-bottom.png) 0 0 no-repeat;
  }

  .aside-bg{
    position:absolute;
    bottom:0;
    right:50%;
    margin:0 -50px 0 0;
    .square(100%);
    z-index:1;
    .opacity(40);
    
    &:after{
      content: '';
      position: absolute;
      right: 650px;
      top: 0;
      .square(100%);
      background:@black;
      .opacity(40);
    }
    &:before{
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      .square(0);
      border-color: transparent @black;
      border-style: dashed solid;
      border-width: 5000px 0 0 650px;
      .opacity(40);
    }
  }
}



// LIST
.list{
  background:@white;

  section{
    position:absolute;
    left:0;
    top:0;
    //padding:50px 0 70px 0;
    padding:0 0 35px 0;
    .square(100%);
    background:url(../img/bg.png) 0 0 repeat;
    z-index:10;
    text-align:center;
  }
  .create-own{
    position:absolute;
    left:0;
    top:50%;
    margin:190px 0 0 0;
    .size(100%, auto);
    #font > #family > .sans-serif-medium();
    text-align:center;
    .opacity(100);
    z-index:1;
    .transition(all 0.2s ease-in-out);
    
    &.hide-detail{
      .opacity(0);
    }
    &.show-detail{
      .opacity(0);
      visibility:hidden;
    }
    p{
      display:block;
      margin:0 0 10px 0;
    }
    .btn-black{
      .size(auto, 29px);
      .font-size(14, 29px);
      
      span{
        padding-right:5px;
      }
      i{
        right:-10px;

        &:after{
          right:16px;
          top:8px;
        }
      }
    }
  }
}

// LIST - INFO + CONTROL
.list-info{
  position:absolute;
  left:0;
  top:50%;
  margin:-270px 0 0 0;
  .size(100%, auto);
  z-index:20;
  
  &.show-detail{
    z-index:20;
    
    .controls{
      margin:0;
      padding:0;
      .size(100%, 1px);
      
      span{
        position:fixed;
        left:50%;
        top:50%;
        margin:0;
        .ir(56px, 56px, inline-block);
        .border-radius(28px);
        border:1px solid #646758;
        background:none;
        overflow:hidden;
        
        i{
          position:absolute;
          left:0;
          top:0;
          display:block;
          .square(100%);
          .transition(all 0.3s ease-in-out);
        }
      }
      .btn-prev{
        margin:-28px 0 0 -495px;
        
        &:hover{
          .stay{
            margin-left:-56px;
            .opacity(0);
          }
          .hover{
            margin-left:0;
            .opacity(100);
          }
        }
        i{
          background-image:url(../img/list-info-left.png);
        }
        .stay{
          margin-left:0;
          .opacity(100);
          background-position:left 0;
        }
        .hover{
          margin-left:56px;
          background-position:right 0;
          .opacity(0);
        }
      }
      .btn-next{
        margin:-28px 0 0 438px;
        
        &:hover{
          .stay{
            margin-left:56px;
            .opacity(0);
          }
          .hover{
            margin-left:0;
            .opacity(100);
          }
        }
        i{
          background-image:url(../img/list-info-right.png);
        }
        .stay{
          margin-left:0;
          .opacity(100);
          background-position:right 0;
        }
        .hover{
          margin-left:-56px;
          background-position:left 0;
          .opacity(0);
        }
      }
    }
    h2{
      display:block;
    }
  }
  .controls{
    display:block;
    .size(100%, auto);
    .c;

    span{
      margin:0 5px;
      .ir(24px, 24px, inline-block);
      .border-radius(12px);
      border:1px solid #646758;
      background:url(../img/list-info-left-small.png) right 0 no-repeat;
      vertical-align:top;
      cursor:pointer;
      .transition(all 0.2s ease-in-out);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;

      &.disabled,&.disabled:hover{
        background-position:0 0;
        cursor:default;
      }
      &:hover{
        background-position:0 0;
      }
    }
    .btn-prev{
      background-position:0 0;

      &:hover{
        background-position:right 0;
      }
    }
    .btn-next{
      background-image:url(../img/list-info-right-small.png);

      &.disabled,&.disabled:hover{
        background-position:right 0;
      }
    }
  }
  h1{
    margin:0 0 10px 0;
    .font-size(24);
    color:@black; 
  }
  h2{
    display:none;
    #font > #family > .sans-serif-medium();
    .font-size(12);
  }
}

// LIST - SLIDER
.list-slider{
  .size(100%, 100%);
  .opacity(100);
  .transition(all 0.2s ease-in-out);

  &.close-detail{
    .opacity(0);
  }
}

// LIST - SLIDER CONTENT
.slider-content,
.slider{
  position:relative;
  .size(100%, 100%);
  text-align:left;
}
.slider-content{
  background: center center no-repeat; 
  .transition(all 0.2s ease-in-out);

  &.show-detail{
    background-image:url(../img/slider-content-show-detail-bg.png);
  }
}

// SHOW DETAIL
.show-detail{
  
  .ul-list{
    background:none;
    
    &:before,
    &:after{
      display:none;
    }
    li{
      &:before,
      &:after{
        display:none;
      }
    }
    article,
    .done{
      position:absolute;
      left:50%;
      top:50%;
      margin-left:-385px;
      margin-top:-156px;
      .size(770px, 313px);
      //.opacity(100);
      overflow:visible;
      .transition(none);
      cursor:default;
      zoom:1;
      
      &:hover{
        margin-top:-156px;
      }
      &:before,
      &:after{
        .opacity(100);
      }
      .list-small{
        display:none;

        .desc{
          display:none;
        }
      }
      .detail{
        display:block;

        h1{
          .opacity(100);
        }
        .detail-friend{
          .opacity(100);
        }
      }
      .btn{
        .opacity(0);
      }
    }
    .done{
      .btn{
        top:auto;
        left:auto;
        right:0;
        bottom:-60px;
        .size(153px, 40px);
        .font-size(18, 40px);
        color:@white;
        #gradient > .vertical(#1e1e1e, @black);
        //background-color:@black;
        //background-position:right 0;
        .opacity(100);
        .transition(all 0.3s ease-in-out);
        
        &:after{
          .size(31px, 40px);
          background-position:right 0;
        }
        &:hover{
          background:#35861c;
          //background-color:#35861c;
        }
      }
    }
  }
}

// LIST - JOURNEY
.ul-list{
  position:absolute;
  left:0;
  top:50%;
  margin:-150px 0 0 0;
  //.size(100%, 315px);
  .size(100%, 313px);
  //background:url(../img/slider-hr.png) 37px center repeat-x;
  
  &:after{
    content:'';
    position:absolute;
    left:-42px;
    top:156px;
    .size(42px, 1px);
    background:#888e85;
    .transition(all 0.2s 0.5s ease-in-out);
  }
  &:before{
    content:'';
    position:absolute;
    right:0;
    top:156px;
    .size(300px, 1px);
    background:#888e85;
  }
  &.animate{
    &:after{
      left:0;
    }
    .top{
      margin-left:0;
      width:179px;

      &:after{
        width:179px;
      }
    }
    .bottom{
      margin-left:0;
      width:194px;

      &:after{
        width:194px;
      }
    }
  }
  &> li{
    position:absolute;
    left:0;
    float:left;
    .size(auto, 313px);
    .transition(width 0.2s 0.5s ease-in-out);
    .transition(margin 0.2s 0.5s ease-in-out);
    
    &:after{
      content:'';
      position:absolute;
      left:13px;
      top:156px;
      .size(100%, 1px);
      background:#888e85;
      .transition(all 0.2s 0.5s ease-in-out);
    }
    &:before{
      content:'';
      position:absolute;
      left:-9px;
      top:0;
      .size(21px, 100%);
      .transition(opacity 0.2s ease-in-out);
    }
    &.act{
      z-index:10;
    }
  }
  .top{
    margin-left:-80px;
    width:339px;
    
    &:after{
      width:339px;
    }
    &:before{
      background:url(../img/slider-hr-top.png) center center no-repeat
    }
    article{
      top:0;
      
      .btn{
        bottom:95px;
      }
      &:hover{
        margin-top:-20px;
      }
    }
  }
  .bottom{
    margin-left:80px;
    width:35px;
    
    &:after{
      left:12px;
      width:35px;
    }
    &:before{
      left:-9px;
      background:url(../img/slider-hr-bottom.png) center center no-repeat
    }
    article{
      bottom:0;
      
      &.act{
        &:hover{
          bottom:0;
        }
      }
      .btn{
        top:20px;
      }
      &:hover{
        bottom:-20px;
      }
    }
  }
  article{
    position:absolute;
    left:0;
    background:@black;
    .size(365px, 125px);
    overflow:hidden;
    z-index:5;
    cursor:pointer;
    .transition(all 0.3s ease-in-out);
    -webkit-backface-visibility: hidden;
    
    //,&.selected-ride
    &:hover{
      height:145px;
      
      .btn{
        left:20px;
        .opacity(100);
      }
      h1{
        i{
          .opacity(0);
        }
      }
    }
    &:before,
    &:after{
      content:'';
      position:absolute;
      top:-11px;
      left:-11px;
      .size(15px, 335px);
      background:url(../img/list-detail-corner-left.png) 0 0 no-repeat;
      .opacity(0);
    }
    &:after{
      left:auto;
      right:-11px;
      .size(14px, 335px);
      background:url(../img/list-detail-corner-right.png) 0 0 no-repeat;
    }
    &.act{
      overflow:visible;
      cursor:default;

      .list-small{
        .desc{
          display:none;
        }
      }
      .detail{
        display:block;
      }
      .btn{
        top:auto;
        left:auto;
        right:40px;
        bottom:-60px;
        .size(153px, 40px);
        .font-size(18, 40px);
        color:@white;
        #gradient > .vertical(#1e1e1e, @black);
        //background-color:@black;
        //background-position:right 0;
        .opacity(0);
        .transition(none);

        &:after{
          .size(31px, 40px);
          background-position:right 0;
        }
      }
    }
    &.noanim{
      overflow:visible;
      //.transition(all 0 linear);
      cursor:default;
      
      &:before,
      &:after{
        .opacity(100);
      }
      .list-small{
        .desc{
          display:none;
        }
      }
      .detail{
        display:block;

        h1{
          .opacity(100);
        }
        .detail-friend{
          .opacity(100);
        }
      }
      .btn{
        right:0;
        .opacity(100);
        .transition(all 0.3s ease-in-out);
      }
    }
    &.done{
      .btn{
        .opacity(0);
      }
    }
  }
  // FF - ANIMATE BUG
  article, x:-moz-any-link {
    .transition(none);
  }
  .list-small{
    position:relative;
    display:block;
    .square(100%);
    z-index:5;
    -webkit-backface-visibility: hidden;
  }
  .detail{
    display:none;
    position:absolute;
    left:0;
    top:0;    
    .square(100%);
    
    .close{
      position:absolute;
      right:11px;
      top:11px;
      .ir(24px, 24px);
      .border-radius(12px);
      background-color:rgb(0,0,0);
      background-color:rgba(0,0,0,.2);
      background-image: url(../img/close-overlay-bg.png);
      background-position:center center;
      background-repeat:no-repeat;
      z-index:10;
      .transition(all 0.2s ease-in-out);

      &:hover{
        background-color:rgb(0,0,0);
        //background-color:rgba(0,0,0,.5);
      }
    }
    .desc{
      top:0;
      left:0;
      padding:0 45px 0 0;
      .size(311px, 100%);
      background:url(../img/list-desc-bg.png) 0 0 no-repeat;
    }
    h1{
      position:absolute;
      left:40px;
      top:35px;
      bottom:auto;
      padding:0 45px 0 0;
      #font > #family > .sans-serif-medium();
      .font-size(24, 1.1em);
      font-weight:normal;
      .opacity(0);
      .transition(all 0.2s ease-in-out);
    }
  }
  .desc{
    position:absolute;
    left:0;
    top:0;
    padding:0 20px 0 0;
    .size(159px, 100%);
    background:url(../img/list-small-desc-bg.png) 0 0 no-repeat;
    z-index:2;
    .transition(all 0.2s ease-in-out);
  }
  .btn{
    position:absolute;
    left:-153px;
    padding:0 30px 0 0;
    .size(151px, 30px);
    .font-size(14, 32px);
    color:@black;
    #gradient > .vertical(@white, #e7e7e7);
    //background:url(../img/btn-green-arrow.png) right -5px no-repeat @white;
    text-align:center;
    text-decoration:none;
    .opacity(0);
    .transition(all 0.3s ease-in-out);
    z-index:10;
    .box-shadow(-2px 1px 4px rgba(0,0,0,.2));

    &:after{
      content:'';
      position:absolute;
      right:0;
      top:0;
      .size(31px, 30px);
      background:url(../img/btn-green-arrow.png) right -5px no-repeat;
    }
  }
  a.btn:hover{
    color:@white;
    background:#47a12a;
    //background-color:#47a12a;
  }
  h1{
    position:absolute;
    left:20px;
    bottom:16px;
    padding:28px 20px 0 0;
    #font > #family > .sans-serif-medium();
    .font-size(12, 16px);
    font-weight:normal;
    color:#d6d6d6;
    
    i{
      display:block;
      position:absolute;
      left:0;
      bottom:75px;
      .size(9px, 15px);
      background:url(../img/list-small-arrow.png) 0 0 no-repeat;
      .transition(all 0.3s ease-in-out);
      .opacity(100);
    }
  }
  img{
    position:absolute;
    left:0;
    top:0;
    .size(100%, auto);
    z-index:1;
  }
  .share-ride{
    position:absolute;
    right:0;
    bottom:7px;
    right:10px;
    float:right;
    z-index:5;
    
    iframe{
      margin:0 0 0 5px;
    }
    .fb-share{
      position:relative;
      left:0;
      top:1px;
      display:inline-block;
      margin:0 0 0 5px;
      padding:0 6px 0 24px;
      .size(auto, 18px);
      border-right:1px solid #29447e;
      #font > #family > .serif();
      .font-size(10, 18px);
      //font-weight:bold;
      color:@white;
      background:url(../img/fb-share-bg.png) 0 0 no-repeat;
      vertical-align:top;
      text-decoration:none;
    }
    .email-share{
      position:relative;
      left:0;
      top:-1px;
      .ir(21px, 19px, inline-block);
      background:url(../img/share-email-bg.png) 0 0 no-repeat;
      vertical-align:top;
      .transition(all 0.2s ease-in-out);

      &:hover{
        background-position:0 -19px;
      }
    }
  }
  .detail-friend{
    position:absolute;
    left:40px;
    bottom:35px;
    color:@white;
    .opacity(0);
    .transition(all 0.2s ease-in-out);
    
    label{
      display:block;
      margin:0 0 13px 0;
    }
    .btn-friend{
      display:block;
      margin:0 0 15px 0;
      .size(100%, 30px);
      padding:0 9px;
      border:1px solid #919690;
      .font-size(12, 28px);
      color:#35861c;
      background:url(../img/btn-friend-bg.png) right center no-repeat @white;
      text-decoration:none;

      &:hover{
        border-color:@black;
      }
    }
  }
}


// MAPS
.maps{
  background:@white;
  
  section{
    .size(100%, 100%);
    .c;
  }
  img.help{
    position:absolute;
    left:0;
    top:0;
    z-index:2;
  }
}
.maps-aside{
  position:absolute;
  left:0;
  top:0;
  .size(325px, 100%);
  z-index:15;

  .in-maps-aside{
    position:relative;
    padding:35px 95px 35px 35px;
    .size(100%, 100%);
    z-index:2;
  }
  .aside-bg{
    position:absolute;
    left:0;
    top:0;
    .size(325px, 100%);
  }

  h1{
    margin:0 0 25px 0;
    .font-size(24, 28px);

    strong{
      #font > #family > .sans-serif-bold();
    }
  }
  label{
    display:block;
    margin:0 0 13px 0;
  }
  select{
    margin:0 0 15px 0;
    .size(100%, auto);
  }
  .select2-container{
    margin:0 0 15px 0;
    .size(100%, auto);
  }
  .btn-friend{
    display:block;
    margin:0 0 15px 0;
    .size(100%, 30px);
    padding:0 9px;
    border:1px solid #919690;
    .font-size(12, 28px);
    color:#35861c;
    background:url(../img/btn-friend-bg.png) right center no-repeat @white;
    text-decoration:none;

    &:hover{
      border-color:@black;
    }
  }
  .btn-about-car{
    position:absolute;
    left:50px;
    bottom:35px;
    padding:6px 20px 5px 65px;
    .size(auto, 40px);
    .font-size(12, 1.2em);
    color:@white;
    //background:url(../img/btn-about-car-arrow.png) right center no-repeat #49a52c;
    background:#49a52c;
    text-decoration:none;
    .transition(all 0.3s ease-in-out);
    
    &:hover{
      background-color:@black;
    }
    &:before{
      content:'';
      position:absolute;
      left:-30px;
      top:-5px;
      .size(84px, 51px);
      background:url(../img/btn-maps-about-bg.png) 0 0 no-repeat
    }
  }
}
.maps-content{
  position: absolute;
  left:0;
  top:0;
  .size(100%, 100%);
  z-index:10;
  overflow:hidden;

  #map-container{
    .opacity(0);
    .size(100%, 100%);
  }
}
.maps-error{
  display: none;
  position:absolute;
  left:0;
  top:0;
  .size(100%, 100%);
  z-index:10;

  article{
    position:absolute;
    left:50%;
    top:50%;
    margin:-195px 0 0 -50px;
    padding:165px 40px 0 40px;
    .square(389px);
    background:url(../img/maps-error-bg.png) 0 0 no-repeat;
    text-align:center;

    h1{
      #font > #family > .sans-serif();
      .font-size(24, 28px);
      color:@white;

      strong{
        #font > #family > .sans-serif-bold();
        font-weight:normal;
      }
    }
    .close{
      position:absolute;
      bottom:44px;
      left:50%;
      margin:0 0 0 -12px;
      .ir(24px, 24px);
      .border-radius(12px);
      background:url(../img/close-overlay-bg.png) center center no-repeat @black;
      .transition(all 0.2s ease-in-out);

      &:hover{
        background-color:#49a62d;
      }
    }
  }
}
.maps-help{
  position:absolute;
  left:0;
  top:0;
  .size(100%, 100%);
  background:url(../img/bg.png) 0 0 repeat;
  z-index:11;

  article{
    position:absolute;
    left:50%;
    top:50%;
    margin:-200px 0 0 -200px;
    .size(668px, 398px);
    background:url(../img/maps-help-article-bg.png) 0 0 no-repeat;
  }
  h1{
    .font-size(24, 28px);

    strong{
      #font > #family > .sans-serif-bold();
    }
  }
  li{
    position:absolute;
    left:0;
    top:0;
    padding:0 40px 20px 40px;
    .size(214px, 214px);
    text-align:center;
  }
  .item-1{
    left:135px;
  }
  .item-2{
    left:0;
    top:115px;
    .size(200px, 200px);
  }
  .item-3{
    left:155px;
    top:188px;
    .size(210px, 210px);
  }
  h2{
    position:relative;
    margin:0 0 15px 0;
    padding:35px 0 15px 0;
    #font > #family > .sans-serif-bold();
    .font-size(24);
    font-weight:normal;
    color:#4ba82e;

    &:before{
      content:'';
      position:absolute;
      left:50%;
      bottom:0;
      margin:0 0 0 -35px;
      .size(70px, 1px);
      background:#cdcfcb;
    }
  }
  p{
    #font > #family > .sans-serif-medium();
    .font-size(12, 14px);
  }
  .desc{
    position:absolute;
    right:0;
    top:15px;
    .size(369px, 369px);

    p{
      position:absolute;
      left:0;
      top:0;
      display:block;
      #font > #family > .sans-serif-medium();
      .font-size(12, 14px);
      color:#2c4722;

      strong{
        #font > #family > .sans-serif-bold();
      }
    }
    .max{
      top:20px;
      .size(100%, auto);
      text-align:center;
    }
    .min{
      left:0;
      top:220px;
      .size(290px, auto);
      text-align:center;
    }
    .ideal{
      left:auto;
      right:0;
      top:290px;
      .size(245px, auto);
      text-align:center;
    }
  }
  .btn-black{
    position:absolute;
    left:0;
    bottom:15px;
  }
}


// STATISTICS
.statistics{
  background:@white;

  section{
    .square(100%);
    background:url(../img/bg.png) 0 0 repeat;
    z-index:10;
    text-align:center;
  }
  h1{
    margin:0 0 30px 0;
    .font-size(24);
    color:@black; 
  }
  .in-statistics{
    position:absolute;
    left:50%;
    top:50%;
    margin:-260px 0 0 -410px;
    .size(820px, 530px);
    .c;
  }
  .btn-back{
    display:none;
    position:absolute;
    left:0;
    top:0;
    .size(auto, 36px);
    .font-size(14, 38px);
    background:@black;
    
    &:hover{
      background:#35861c;
    }
    span{
      padding:0 40px 0 13px;
    }
    i{
      background:url(../img/btn-fb-arrow-left.png) 0 0 no-repeat;
    }
  }
  .country-stats{
    margin:0 0 20px 0;
  }
}
.statistics-list{
  margin:0 0 35px 0;
  .size(100%, 285px);
  .c;

  article{
    position:relative;
    float:left;
    .size(390px, 100%);
    background:rgb(255,255,255);
    background:rgba(255,255,255,.5);
    text-align:left;

    &:before{
      content:'';
      position:absolute;
      left:-11px;
      top:-11px;
      .size(15px, 307px);
      background:url(../img/statistics-arrow-left-bg.png) 0 0 no-repeat;
    }
  }
  .last{
    float:right;

    &:before{
      left:auto;
      right:-11px;
      background-image:url(../img/statistics-arrow-right-bg.png);
    }
    aside{
      .size(148px, 100%);
      background-image:url(../img/statistics-list-aside-last.png);
    }
    .in-article{
      padding-left:177px;
    }
    .count{
      float:left;
      top:1px;
    }
  }
  aside{
    position:absolute;
    left:0;
    top:0;
    .size(119px, 100%);
    background:url(../img/statistics-list-aside.png) 0 0 no-repeat;
    
    h1{
      position:absolute;
      left:19px;
      bottom:22px;
      margin:0;
      .font-size(14, 18px);
      width: 115px;
    }

    .ico-star + h1 {
      width: 90px;
    }

    i{
      position:absolute;
      left:0;
      top:0;
      .square(90px);
    }
    .ico-star{
      background:url(../img/ico-star-bg.png) center 23px no-repeat;
    }
    .ico-user{
      left:5px;
      background:url(../img/ico-user-bg.png) center 25px no-repeat;
    }
  }
  .in-article{
    padding:15px 26px 10px 135px;
  }
  p{
    margin:0 0 10px 0;
    #font > #family > .sans-serif-medium();
    .font-size(12, 16px);
    color:@black;
  }
  ul{
    li{
      display:block;
      position:relative;
      .size(100%, auto);
      margin:0 0 12px 0;
      .c;
    }
    h2{
      position:relative;
      left:0;
      top:8px;
      float:left;
      #font > #family > .sans-serif-medium();
      .font-size(12);
      color:#35861c;
    }
    p{
      margin-bottom:15px;
      padding:8px 0 0 0;
    }
  }
  .desc{
    .size(100%, auto);
    padding:0 0 7px 0;
    .c;
  }
  .count{
    position:relative;
    left:0;
    top:3px;
    float:right;
    #font > #family > .sans-serif-medium();
    .font-size(12, 18px);

    strong{
      #font > #family > .sans-serif-medium();
      .font-size(18, 18px);
    }
  }
  .graph{
    position:relative;
    left:0;
    bottom:0;
    .size(100%, 3px);
    background:@white;

    i{
      display:block;
      .size(auto, 100%);
      background-color:#4ba82e;
    }
  }
  .fb-connect{
    padding:18px 0 0 0;

    h1{
      margin:0 0 15px 0;
      .font-size(22, 26px);
    }
  }
}


// AFTER VIDEO
.after-video{
  background:@white;

  section{
    .square(100%);
    background:url(../img/bg.png) 0 0 repeat;
    z-index:10;
  }
  h1{
    margin:0 0 10px 0;
    .font-size(24, 30px);
    color:@black; 
  }
  p{
    margin:0 0 15px 0;
    #font > #family > .sans-serif-medium();
    .font-size(12, 18px);
  }
  .btn-green{
    margin-bottom:18px;
  }
  .in-after-video{
    position:absolute;
    left:50%;
    top:50%;
    margin:-240px 0 0 -470px;
    .size(940px, 480px);
    .c;

    article{
      position:relative;
      float:left;
      .size(365px, 100%);

      &.last{
        float:right;
        .size(455px, 100%);

        a{
          #font > #family > .sans-serif-medium();
        }
        p{
          margin:0;

          a{
            display: inline-block;
            margin: 0 0 10px 40px;
            white-space: nowrap;
          }
          .after-more-music {
            display: block;
          }
        }
      }
    }
  }
  .car{
    position:relative;
    .size(100%, 315px);

    img{
      position:absolute;
      left:-50px;
      top:20px;
      .opacity(0);
      zoom:1;

      &.act{
        .opacity(100);
      }
    }
  }
  .country-stats{
    margin-bottom:25px;
  }
  .list-slider{
    position:absolute;
    left:0;
    bottom:10px;
    .size(100%, 145px);

    h2{
      position:absolute;
      left:0;
      top:-35px;
      .font-size(18);
      color:@black; 
    }
  }
  .slider-content{
    .size(100%, 100%);
    overflow:hidden;
    background:none;
  }
  .ul-list{
    position:relative;
    left:0;
    top:0;
    margin:0;
    .size(100%, 100%);
    
    &:before,
    &:after{
      display:none;
    }
    li{
      margin-left:0;
      .size(365px, 100%);

      &:before,
      &:after{
        display:none;
      }
    }
    h1{
      margin:0;
      .font-size(12, 16px);
      color:@white;

      i{
        bottom:90px;
      }
    }
    .btn{
      top:20px;
    }
  }
  .list-info{
    position:absolute;
    left:0;
    top:auto;
    bottom:5px;
    margin:0;

    /*
    a{
      padding:0 0 0 15px;
      #font > #family > .sans-serif-medium();
      .font-size(14, 18px);
      color:#272727;
      background:url(../img/create-own-arrow.png) 0 2px no-repeat;
    }*/
  }
  .controls{
    position:absolute;
    right:0;
    bottom:0;
    .size(100%, auto);
    
    span{
      position:absolute;
      left:;
      top:-100px;
    }
    .btn-prev{
      left:-35px;
      margin:0;
    }
    .btn-next{
      right:-35px;
      margin:0;
    }
  }

  .last-more{
    padding:10px 0 30px 40px;
    .size(100%, auto);
    .c;
    
    .pull-left{
      padding:4px 0 0 0;
    }
    .pull-right{
      float:left;
      padding:0 0 0 40px;
    }
    h1{
      margin:0;
      padding:0;
      .font-size(20, 1.2em);
    }
  }
}


// STATISTICS
.language{
  position:absolute;
  left:0;
  top:0;
  padding:0 0 35px 0;
  .square(100%);
  background:@white;
  .opacity(0);
  z-index:1;
  .transition(all 0.2s ease-in-out);
  
  &.act{
    .opacity(100);
    z-index:100;
  }
  section{
    .square(100%);
    background:url(../img/bg.png) 0 0 repeat;
    z-index:10;
    text-align:center;
  }
  .bg-img{
    display:block;
  }
  h1{
    margin:0 0 30px 0;
    .font-size(24);
    color:@black; 
  }
  .in-language{
    position:absolute;
    left:50%;
    top:50%;
    margin:-125px 0 0 -420px;
    .size(840px, 250px);
    .c;
    
    h2{
      margin:0 0 8px 0;
      #font > #family > .sans-serif-medium();
      .font-size(18, 1.1em);
      color:#35861c;
    }
    ul{
      margin:0 0 0 -55px;
      text-align:left;
      .c;

      li{
        float:left;
        margin:0 0 0 55px;
        .size(168px, auto);
        
        &:first-child,
        &.no-border{
          a{
            border-top:0;
          }
        }
      }
      a{
        display:block;
        padding:10px 0;
        .size(100%, auto);
        border-top:1px solid #c1beba;
        #font > #family > .sans-serif-medium();
        .font-size(12, 1.1em);
        color:@black;
        text-decoration:none;

        &:hover{
          color:#35861c;
        }
      }
    }
  }
}


// PRIVACY POLICY
.privacy-policy, .impressum, .no-gravity-soundtrack, .no-gravity-ringtone, .no-gravity-ringtone-iphone {
  position:absolute;
  left:0;
  top:0;
  padding:0 0 35px 0;
  .square(100%);
  background:@white;
  .opacity(0);
  z-index:1;
  .transition(all 0.2s ease-in-out);
  
  &.act{
    .opacity(100);
    z-index:100;
  }
  section{
    .square(100%);
    background:url(../img/bg.png) 0 0 repeat;
    z-index:10;
    text-align:center;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
  }
  .bg-img{
    display:block;
  }
  .in-privacy-policy, .in-impressum, .in-no-gravity {
    margin:0 auto 0;
    padding:80px 0;
    .size(940px, auto);
    text-align:left;
    .c;
      
    h1{
      #font > #family > .sans-serif-bold();
      margin:0 0 10px;
      .font-size(24, 1.25em);
      color:@black; 
    }

    h2{
      margin:0;
      #font > #family > .sans-serif-medium();
      .font-size(24, 1.25em);
      margin-bottom: 36px;
    }
    p, ul {
      margin:0 0 20px 0;
      .font-size(12, 18px);
    }
    ul {
      display: inline-block;
      margin: 20px 0;
    }
    li {
      display: block;
      margin: 0 0 10px;

      &:before {
        content: '•  ';
      }
    }
    a,strong{
      #font > #family > .sans-serif-medium();
      font-weight:normal;
    }
    .btn {
      margin-top: 10px;
    }
  }
}
.no-gravity-soundtrack, .no-gravity-ringtone, .no-gravity-ringtone-iphone {
  .in-no-gravity {
    text-align: center;
  }
}


// 404
.error-404{
  padding:0;
  background:@white;

  section{
    .square(100%);
    background:url(../img/bg.png) 0 0 repeat;
    z-index:10;
    text-align:center;
  }
  h1{
    margin:0 0 15px 0;
    .font-size(24);
    color:@black; 
  }
  h2{
    margin:0 0 50px 0;
    #font > #family > .sans-serif-medium();
    .font-size(18);
    color:#35861c; 
  }
  p{
    #font > #family > .sans-serif-medium();
  }
  img{
    margin:0 0 50px 0;
  }
  .to-home{
    padding:0 0 0 15px;
    #font > #family > .sans-serif-medium();
    background:url(../img/create-own-arrow.png) 0 0 no-repeat;
  }
  .in-error-404{
    position:absolute;
    left:50%;
    top:50%;
    margin:-190px 0 0 -410px;
    .size(820px, 380px);
    .c;
  }
}


// 500
.error-500{
  h2{
    margin:0 0 10px 0;
  }
  img{
    position:relative;
    left:-25px;
    top:0;
  }
}



// LIGHTOBX
.overlay{
  display:none;
  position:fixed;
  left:0;
  top:0;
  .square(100%);
  background:rgb(0,0,0);
  background:rgba(0,0,0,.8);
  z-index:50;

  &.act{
    display:block;
  }
}
.fb-lightbox{
  display:none;
  position:fixed;
  left:0;
  top:0;
  .square(100%);
  z-index:105; 
  
  .close{
    position:fixed;
    right:10px;
    top:10px;
    .ir(24px, 24px);
    .border-radius(12px);
    background:url(../img/close-overlay-bg.png) center center no-repeat @black;
    .transition(all 0.2s ease-in-out);

    &:hover{
      background-color:#49a62d;
    }
  }
  &.act{
    display:block;
  }
  article{
    position:absolute;
    left:0;
    top:50%;
    margin:-70px 0 0 0;
    .size(100%, auto);
    text-align:center;
  }
  h1{
    margin:0 0 20px 0;
    .font-size(24, 30px);
    font-weight:normal;
    color:@white;
  }
}



// PEEKABOO effect
#peekaboo {
  bottom: 0;
  height: 100%;
  position: absolute;
  right: 100%;
  width: 100%;
  z-index: 900;
  
  &:after {
    background: #fff;
    content: '';
    height: 100%;
    right: 650px;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &:before {
    border-color: transparent #fff;
    border-style: dashed solid;
    border-width: 5000px 0 0 650px;
    bottom: 0;
    content: '';
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
  }
}


//zatim
/*
.page-1 {
  background: yellow;
}
.page-2 {
  background: orange;
}
.page-3 {
  background: red;
}
.page-4 {
  background: pink;
}*/

#switcher{
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1000;

  li {
    background: brown;
    display: block;
    margin-bottom: 10px;

    a {
      display: block;
      padding: 5px;
      text-align: center;
    }
  }
}

#flashContainer,
#mapContainer,
#map{
  background: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
  outline: 0;
  height: 100%;
  position: relative;
}
#route-list {
  background: #fff;
}
#searchBoxContainer {
  position: absolute;
  right: 90px;
  top: 27px;
  .size(200px, 30px);
  z-index: 100;

  input{
    .size(100%, 30px);
    padding:0 9px;
    border:1px solid #919690;
    .font-size(12, 28px);
    color:#35861c;
    background:@white;
  }
}

// LANGUAGE
.lang-pl,.lang-ch,.lang-ch-fr{
  .home{
    .in-article,
    .buffer i{
      width:400px;
    }
  }
}

.lang-fr {
  .statistics {
    aside h1 {
      .font-size(12, 18px);
    }
  }
}

.lang-sv {
  .home h1 strong {
    .font-size(33);
  }
}

.lang-dk {
  .home .buffer {
    top: 105px;
  }
}