* {
    -moz-transition: none !important;
    -o-transition: color 0 ease-in !important;
    -webkit-transition: none !important;
  transition: none !important;
}
#peekaboo {
  display: none !important;
}
.language, .privacy-policy {
  display: none;

  &.act {
    display: block;
  }
}
  
html, body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.page{
  display: none;
  left:-100%;
  top:0;
}
.page-active {
  display: block;
  left:0;
}
.bg-img {
  overflow: hidden;
}

.home {
  .in-article {
    padding-right: 360px;
    width: 720px;
  }

  .buffer i {
    left: -180px;
  }

  .btn-list a {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 39px;
  }

  .skoda-play {
    height: 290px;
    position: absolute;
    right: 0;
    top: 0;
    width: 320px;

    &:before {
      background: url(../img/mobile/play.png) no-repeat 50% 50%;
      background-size: 16% auto;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &.no-video {
      &:before {
        display: none;
      }
    }

    img {
      display: block;
      margin-top: 70px;
      width: 100%;
    }
  }
  #video-player-wrap {
    display: none;
    background: #000;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    &.is-played {
      display: block;
    }
  }
  #video-player-wrap-close {
    background-image: url(../img/mobile/close.png);
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 50px;
    z-index: 10;    
  }
  #video-player {
    background: #000;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
  }
}

.map-auth, .detail-friend {
  display: none;
}

.language .in-language ul {
  margin: 0 auto;
  width: 775px;

  li {
    width: 125px;
  }
}

.ul-list article.act .btn, .show-detail .ul-list .done .btn {
  left: 40px;
  bottom: 40px;
  top: auto;
  right: auto;
}

// FOOTER
// ---------
footer{
  .more{
    ul{
      bottom: 100% !important;
      
      &.act{
        bottom:35px !important;
      }
    }
  }

  .sound-on, .sound-off {
    display: none !important;
  }
}

.maps-help .btn-black {
  left: 300px;
}

#sv-overlay, #timeline-container {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
}
#sv-overlay {
  /*
  background: url(../img/mobile/sv-overlay-bg.jpg) no-repeat 50% 50%;
  background-size: 100% auto;
  */
  position: fixed;
  z-index: 60;
}
#sv-preloader {
  color: #fff;
  left: 0;
  height: 400px;
  margin-top: -200px;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;

  p {
    color: #000;
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 26px;

    &#preloader-large-text {
      font-size: 45px;
      font-size: 4.5rem;
      line-height: 55px;
      margin: 5px 0 10px;
    }
  }

  img {
    display: block;
    margin: 30px auto 20px;
    width: 40%;
  }
}
#sv-progress {
  background: #4ba82e;
  height: 2px;
  left: 0;
  position: absolute;
  top: 100%;
  width: auto;
}
#sv-back-button {
  font-size: 1em;
}

#timeline-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  z-index: 60;
}
#timeline {
  position: absolute;
  width: 100%;
  height: 100%;
}
#timeline img, #timeline canvas {
  display: block;
}
.alpha_image {
  position: absolute;
  top: 0;
  left: 0;
}

.no-gravity-soundtrack, .no-gravity-ringtone, .no-gravity-ringtone-iphone {
  .in-no-gravity {
      .in-qr {
        display: none;
      }
  }
}