// Typography.less
// Headings, body text, lists, code, and more for a versatile and durable typography system
// ----------------------------------------------------------------------------------------


@font-face {
  font-family: 'skoda_proregular';
  src: url('../fonts/skodapro-regular-webfont.eot');
  src: url('../fonts/skodapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/skodapro-regular-webfont.woff') format('woff'),
       url('../fonts/skodapro-regular-webfont.ttf') format('truetype'),
       url('../fonts/skodapro-regular-webfont.svg#skoda_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'skoda_promedium';
  src: url('../fonts/skodapro-medium-webfont.eot');
  src: url('../fonts/skodapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/skodapro-medium-webfont.woff') format('woff'),
       url('../fonts/skodapro-medium-webfont.ttf') format('truetype'),
       url('../fonts/skodapro-medium-webfont.svg#skoda_promedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'skoda_probold';
  src: url('../fonts/skodapro-bold-webfont.eot');
  src: url('../fonts/skodapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/skodapro-bold-webfont.woff') format('woff'),
       url('../fonts/skodapro-bold-webfont.ttf') format('truetype'),
       url('../fonts/skodapro-bold-webfont.svg#skoda_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}







// BODY TEXT
// ---------

p {
  margin: 0;
}


// HEADINGS
// --------

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding:0;
  font-weight: normal;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
}




// LISTS
// -----

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: none;
}
ol {
  list-style: none;
}
li {
}

// Description Lists
dl {
  margin-bottom: 0;
}
dt,
dd {
}
dt {
}
dd {
}

// MISC
// ----

// Horizontal rules
hr {
  margin: 0;
  border: 0;
}

// Emphasis
strong {
  #font > #family > .sans-serif-medium();
  font-weight: normal;
}
em {
  font-style: italic;
}


// Abbreviations and acronyms
abbr {
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

// Misc
small {
  font-size: 100%;
}
cite {
  font-style: normal;
}
