#sv-overlay, #timeline-container, #map-container {
  display: none;
  .size(100%, 100%);
  left: 0;
  position: absolute;
  top: 0;
  z-index: 5;
}

#sv-overlay {
  background: url(../img/mobile/sv-overlay-bg.jpg) no-repeat 50% 50%;
  background-size: 100% auto;
  position: fixed;
  z-index: 60;
}
#sv-preloader {
  color: #fff;
  left: 0;
  padding: 0 2em;
  position: absolute;
  top: 33%;
  width: 100%;

  p {
    font-size: 1em;
    line-height: 1.25em;

    &#preloader-large-text {
      display: block;
      font-size: 2em;
      margin: 0.2em auto 0.3em;
    }
  }

  img {
    display: block;
    margin: 2em auto;
    width: 75%;
  }

  #preloader-image-text {
    left: -9999px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
}
#sv-preloader.ready-to-play {
  #preloader-image-text {
    left: 0;
  }
  img {
    opacity: 0;
  }
}
#sv-progress {
  background: #4ba82e;
  height: 4px;
  left: 0;
  position: absolute;
  top: 100%;
  width: auto;
}
#sv-back-button {
  font-size: 1em;
}

#map-container {
  .size(100%, 100%);
  left: 0;
  position: absolute;
  top: 0;
  z-index: 5;

  #map {
    background: #fff;
    width: 100%;
    padding: 0;
    margin: 0;
    outline: 0;
    height: 100%;
    position: relative;
  }
}