// ---------
*{
  -webkit-box-sizing: border-box;
   -khtml-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  *behavior: url(js/libs/boxsizing.htc);
}
html {
  font-size: 62.5%;
}
html, body {
  &.language-displayed, &.popup-displayed, &.hidden {
    .size(100%, 100%);
    overflow: hidden;
  }
}

body {
  background: #000;
  margin: 0;
  #font > #family > .sans-serif();
  font-size: 20px;
  line-height: 20px;
  color:@basecolor;
  padding-bottom: 4em;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}


// LINKS
// ---------
a {
  color:@basecolor;
  text-decoration:underline;
}
a:hover {
  text-decoration:none;
}

.btn {
  background: #4ba82e;
  color: #fff;
  display: inline-block;
  #font > #family > .sans-serif-medium();
  .font-size(34);
  overflow: hidden;
  padding: .75em 4em .75em 1.5em;
  position: relative;
  text-decoration: none;

  &:before {
    background: #35861c;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: -0.55em;
    top: 0;
    width: 3em;
      -ms-transform: skewX(10deg);
      -webkit-transform: skewX(10deg);
    transform: skewX(10deg);
  }

  &:after {
    background: url(../img/mobile/btn-arrow.png) no-repeat 50% 50%;
    background-size: auto 35%;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 2.25em;
  }
}
.btn-black {
  background-color: #4ba72d;
    background-image: -moz-linear-gradient(bottom, #000 0%, #3f3f3f 100%);
    background-image: -o-linear-gradient(bottom, #000 0%, #3f3f3f 100%);
    background-image: -webkit-linear-gradient(bottom, #000 0%, #3f3f3f 100%);
  background-image: linear-gradient(bottom, #000 0%, #3f3f3f 100%);
}

.page-content {
  min-height: 100%;
  padding: 10%;
  position: relative;
  z-index: 10;
}

.home {
  background: #000 url(../img/mobile/sv-overlay-bg.jpg) no-repeat 50% 0;
  background-size: 100% auto;
  .size(100%, auto);

  .page-content {
    /*
    background: #000 url(../img/mobile/hp-bg.jpg) no-repeat 50% 0;
    background-size: 100% auto;
    */
    background: url(../img/mobile/sv-overlay-bg.jpg) no-repeat 50% 0;
    background-size: 100% auto;
    color: #fff;
    padding-top: 5%;

    h1 {
      #font > #family > .sans-serif-medium();
      font-size: 1.700em;
      color: #51c42d;
      text-align: center;

      strong{
        display: block;
        #font > #family > .sans-serif();
        font-size: 1.882em;
        color: @white;
        padding: .2em 0;
      }
    }

    h2 {
      border-top: 1px #6c6465 solid;
      border-top-color: rgba(255, 255, 255, .3);
      font-size: 1.2em;
      line-height: 1.417em;
      margin-top: 1.25em;
      padding: 1.25em 1em 0;

      a {
        color: #fff;

        &:before {
          content: '';
          display: block;
        }
      }
    }

    .skoda-play {
      display: block;
      position: relative;

      &:before {
        background: url(../img/mobile/play.png) no-repeat 50% 50%;
        background-size: 16% auto;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &.no-video {
        &:before {
          display: none;
        }
      }
    }
    #video-player-wrap {
      height: 15em;
      bottom: 0;
      position: absolute;
      left: -999em;
      width: 100%;

      &.is-played {
        left: 0;
      }
    }
    #video-player {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    #video-player-wrap-close {
      background: url(../img/mobile/close.png) 50% 50% no-repeat;
      background-size: 100% auto;
      display: block;
      height: 2em;
      position: absolute;
      right: 1em;
      top: 1em;
      width: 2em;
      z-index: 10;    
    }
    img {
      display: block;
      margin: 1em auto 1.5em;
      width: 75%;
    }

    p {
      font-size: 2.4em;
      line-height: 1.417em;
      text-align: center;
    }

    .btn {
      display: block;
      font-size: 1em;
      margin: 0 .35em;
      padding-left: .5em;
      padding-right: 3em;
    }
  }
}

.journey {
  .page-content {
    background: #fff url(../img/mobile/journey-bg.jpg) repeat-y 50% 0;
    background-size: 100% auto;

    h1 {
      #font > #family > .sans-serif();
      font-size: 1.2em;
      line-height: 1.417em;
      color: #000;

      strong {
        display: block;
        #font > #family > .sans-serif-medium();
        font-size: 1.417em;
        line-height: 1.176em;
        padding: .2em 0;
      }
    }

    p {
      font-size: 1.2em;
      line-height: 1.417em;
      margin: 2em 1em 0;

      .btn {
        font-size: 1.308em;
        margin-top: 1em;
      }
    }
  }
}

.ul-list {
  padding: 4em 1em 1em;
  text-align: left;

  li {
    background: #000;
    display: block;
    margin-top: 1em;
    overflow: hidden;
    position: relative;

    &:before {
      background-color: #000;
        background-image: -moz-linear-gradient(120deg, #000 40%, #252424 100%);
        background-image: -o-linear-gradient(120deg, #000 40%, #252424 100%);
        background-image: -webkit-linear-gradient(120deg, #000 40%, #252424 100%);
      background-image: linear-gradient(330deg, #000 40%, #252424 100%);
      content: '';
      display: block;
      height: 100%;
      left: -20%;
      position: absolute;
      top: 0;
        -ms-transform: skewX(9deg);
        -webkit-transform: skewX(9deg);
      transform: skewX(9deg);
      width: 75%;
      z-index: 2;
    }
  }

  h2 {
    color: #fff;
    #font > #family > .sans-serif-medium();
    font-size: 1.3em;
    line-height: 1.385em;
    min-height: 10em;
    padding: 3.75em 1em 1em 1.7em;
    position: relative;
    width: 55%;
    z-index: 3;

    &:after {
      background: url(../img/mobile/ul-list-arrow.png) no-repeat 0 0;
      background-size: 100% auto;
      content: '';
      display: block;
      height: 2em;
      left: 1.6em;
      position: absolute;
      top: 1.25em;
      width: .75em;
    }
  }

  img {
    background: #000;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

.video {
  .page-content {
    background: #fff url(../img/mobile/video-bg.jpg) repeat-y 50% 30%;
    background-size: 100% auto;
    padding: 0;

    p {
      font-size: 1.2em;
      line-height: 1.417em;
      margin: 3em 2em 0;

      .btn {
        font-size: 1.308em;
      }
    }
  }
}
#video-wrap {
  margin: 0;
  position: relative;
  width: 100%;

  img {
    display: block;
    width: 100%;
  }

  &:before {
    background: url(../img/mobile/video-play.png) no-repeat 50% 50%;
    background-size: auto 30%;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.after-video {
  .page-content {
    background: #fff url(../img/mobile/after-video-bg.jpg) repeat-y 50% 0;
    background-size: 100% auto;
    padding: 10% 0;

    h1 {
      #font > #family > .sans-serif-medium();
      font-size: 1.2em;
      line-height: 1.417em;
      color: #000;
      margin-bottom: 3em;

      strong {
        display: block;
        font-size: 1.417em;
        line-height: 1.176em;
        padding: .2em 0;
      }
    }

    p {
      font-size: 1.05em;
      line-height: 1.381em;

      .btn {
        font-size: 1.619em;
      }
    }
  }

  .or-create {
    .btn {
      margin-top: .5em;
    }
  }

  .sly-wrap {
    margin: 1em 0;
    position: relative;
  }
  .sly {
    height: 15em;
    line-height: 15em;
    overflow: hidden;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
    }
    ul li {
      float: left;
      padding: 0;
      cursor: pointer;
    }
  } 
}
#timeline-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  z-index: 60;
}
#timeline {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333;
}
#timeline img, #timeline canvas {
  display: block;
  width: 100% !important;
  height: auto !important;
}
.alpha_image {
  position: absolute;
  top: 0px;
  left: 0px;
}
#another-video {
  background: #fff;
  background: rgba(255,255,255,.4);
  margin: 4em 0;
  padding: 1.5em 0;

  .another-video-headline {
    margin: 0 2em;
    position: relative;
    text-align: left;

    strong {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .ul-list {
    margin: 0;
    padding: 0;

    li {
      background: transparent;
      border: 0 transparent solid;
      margin: 0 0 3em;
    }
  }

  .your-achievements {
    padding-left: 1em;
    position: relative;

    &:before {
      background: url(../img/mobile/ul-list-arrow.png) no-repeat 0 50%;
      background-size: auto 60%;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 1em;
    }
  }
}

.statistics {
  .page-content {
    background: #fff url(../img/mobile/video-bg.jpg) repeat-y 50% 0;
    background-size: 100% auto;
    padding: 10% 0;

    h1 {
      #font > #family > .sans-serif-medium();
      font-size: 1.7em;
      line-height: 1.176em;
      color: #000;
      margin-bottom: 2em;
    }
  }

  .statistics-box {
    background: #fff;
    background: rgba(255,255,255,.5);
    font-size: .950em;
    line-height: 1.789em;
    margin: 2em;
    overflow: hidden;
    padding: 2em 2em 1em 30%;
    position: relative;
    text-align: left;

    &:before {
      background-color: #4ba72d;
        background-image: -moz-linear-gradient(bottom, #3fb61a 0%, #3fb61a 39.6%, #269703 100%);
        background-image: -o-linear-gradient(bottom, #3fb61a 0%, #3fb61a 39.6%, #269703 100%);
        background-image: -webkit-linear-gradient(bottom, #3fb61a 0%, #3fb61a 39.6%, #269703 100%);
      background-image: linear-gradient(bottom, #3fb61a 0%, #3fb61a 39.6%, #269703 100%);
      content: '';
      display: block;
      height: 125%;
      left: -8%;
      opacity: .8;
      position: absolute;
      top: -5%;
        -moz-transform: rotate(-8deg);
        -webkit-transform: rotate(-8deg);
      transform: rotate(-8deg);
      width: 35%;
    }

    &:after {
      background: url(../img/mobile/stats-top.png) no-repeat 1em 50%;
      background-size: auto 55%;
      content: '';
      display: block;
      height: 5em;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    h2 {
      bottom: 1em;
      font-size: 1em;
      line-height: 1.25em;
      left: 1em;
      position: absolute;
      width: 7em;

      strong {
        display: block;
      }
    }

    p {
      margin-bottom: 1.5em;
    }

    ul {
      li {
        color: #35861c;
        margin-bottom: 1em;
        padding-bottom: 1em;
        position: relative;

        strong {
          bottom: .5em;
          color: #000;
          font-size: 1.474em;
          line-height: 1;
          position: absolute;
          right: 0;

          span {
            font-size: .643em;
          }
        }

        &:before, .statistics-bar {
          background: #fff;
          bottom: 0;
            -moz-border-radius: 1px;
            -webkit-border-radius: 1px;
          border-radius: 1px;
          content: '';
          display: block;
          left: 0;
          height: 5px;
          position: absolute;
          width: 100%;
        }

        .statistics-bar {
          background: #4ba82e;
        }
      }
    }

    .statistics-list-2 {
      margin-bottom: 4em;

      li {
        color: #000;
        font-size: .950em;
        line-height: 1.316em;
        margin-bottom: 1em;
        padding-top: 3em;

        strong {
          left: 0;
          right: auto;
          top: 0;
        }

        &:before, .statistics-bar {
          bottom: auto;
          top: 2em;
        }
      }
    }
  }
  .statistics-box-2 {
    &:after {
      background-image: url(../img/mobile/stats-more.png);
    }
  }

  p {
    .btn {
      font-size: 1.308em;
    }
  }
}

.create {
  .page-content {
    background: #fff url(../img/mobile/create-bg.jpg) repeat-y 50% 0;
    background-size: 100% auto;
    padding: 0;
  }

  .create-header {
    background: #fff;
    background: rgba(255, 255, 255, .65);
    padding: 10%;

    h1 {
      #font > #family > .sans-serif();
      font-size: 1.2em;
      line-height: 1.417em;
      color: #000;
      margin-bottom: 1em;
    }

    p {
      font-size: 1em;
      line-height: 2em;
      margin-bottom: .5em;
    }

    select {
      background: #fff;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
      border-radius:4px;      
      border: 1px #919690 solid;
      color: #35861c;      
      font-size: .750em;
      line-height: 3em;
      height: 3em;
      min-width: 50%;
    }
  }

  .create-content {
    padding: 1em 0 10%;
    position: relative;
  }

  h2 {
    #font > #family > .sans-serif();
    font-size: 1.850em;
    line-height: 1.162em;
    color: #000;
    margin: 0 0 0 1em;
    text-align: left;
    width: 7em;

    strong {
      #font > #family > .sans-serif-bold();
    }
  }

  p {
    .btn {
      font-size: 1.308em;
    }
  }

  .create-tutorial {
    overflow: hidden;
    margin: -6em 0 3em;

    li {
      background: #fff;
      background: rgba(255,255,255,.5);
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
      border-radius: 100%;
      float: left;
      font-size: 1.2em;
      line-height: 1.167em;
      margin: 1em 5%;
      position: relative;
      text-align: center;
      width: 51%;

      img {
        display: block;
        width: 100%;
      }

      .create-tutorial-content {
        display: block;
        height: 100%;
        left: 0;
        padding: 1em 1.5em;
        position: absolute;
        top: 0;
        width: 100%;

        em {
          border-bottom: 3px #dddddc solid;
          color: #4ba82e;
          display: block;
          #font > #family > .sans-serif-bold();
          font-size: 1.542em;
          font-style: normal;
          line-heigth: 1em;
          margin: 1em 2em .6em;
          padding-bottom: 1em;
        }

        strong {
          #font > #family > .sans-serif-bold();
        }
      }

      &:first-child {
        float: right;
        margin-right: 2em;
        z-index: 3;
      }

      &:first-child + li {
        float: left;
        margin-top: -8em;
        z-index: 2;
      }

      &:first-child + li + li {
        float: right;
        margin-top: -9em;
        z-index: 1;
      }
    }
  }

  #search-box-container {
    left: 1em;
    position: absolute;
    top: 1em;
    z-index: 2;
  }
}

#languages {
  background: url(/assets/img/language-bg.jpg) no-repeat 50% 0;
  background-size: auto 100%;
  bottom: auto;
  left: 0;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10%;
  position: fixed;
  top: 100%;
  width: 100%;
  z-index: 40;

  &.language-displayed {
    bottom: 3.5em;
    top: 0;
  }

  h1 {
    #font > #family > .sans-serif();
    font-size: 1.7em;
    text-align: center;
  }

  ul {
    margin-top: 3em;
    text-align: left;

    li {
      float: left;
      width: 48%;

      a {
        border-top: 1px solid #c1beba;
        display: block;
        padding: 1em 0;
        text-decoration: none;
      }

      &:first-child, &:first-child + li {
        a {
          border-top: 0;
        }
      }

      &:nth-child(even) {
        margin-left: 4%;
      }
    }
  }
}

.privacy-policy, .impressum {
  background: url(/assets/img/privacy-policy-bg.jpg) no-repeat 50% 0;
  background-size: auto 100%;
  bottom: auto;
  left: 0;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10%;
  position: fixed;
  top: 100%;
  width: 100%;
  z-index: 40;

  &.popup-displayed {
    bottom: 3.5em;
    top: 0;
  }

  .in-privacy-policy, .in-impressum {
    h1{
      #font > #family > .sans-serif-bold();
      margin:0;
      font-size: 1.2em;
      line-height: 1.25em;
      color:@black; 
    }

    h2{
      margin:0;
      #font > #family > .sans-serif-medium();
      font-size: 1.2em;
      line-height: 1.25em;
      margin-bottom: 1.5em;
    }
    p{
      margin:0 0 1em 0;
    }

    .btn {
      font-size: 1em;
    }  
  }
}

#bottom-links, #music-links {
  background: #000;
  border-bottom: 1px #6c6465 solid;
  border-bottom-color: rgba(255, 255, 255, .3);
  bottom: -10em;
  color: #999;
  #font > #family > .sans-serif-medium();
  font-size: 1.2em;
  line-height: 1.417em;
  left: 0;
  padding: 1em 0;
  overflow: hidden;
  position: fixed;
  text-align: left;
  z-index: 40;

  li {
    clear: left;
    float: left;
    padding: 3% 5%;
    vertical-align: top;
    width: 50%;

    &:nth-child(even) {
      clear: right;
    }
  }

  a {
    color: #999;
    display: block;
    padding-left: 1em;
    position: relative;
    text-decoration: none;

    &:before {
      background: green;
      content: '';
      display: block;
      height: 1em;
      left: 0;
      position: absolute;
      top: 0;
        -ms-transform: skewX(9deg);
        -webkit-transform: skewX(9deg);
      transform: skewX(9deg);
      width: 0.25em;
    }
  }

  &.bottom-link-displayed {
    bottom: 3.5em;
  }
}
#music-links {
  li {
    width: 100%;
  }

  &.music-link-displayed {
    bottom: 3.5em;
  }
}

#footer {
  background: #000;
  color: #999;
  font-size: 1.2em;
  line-height: 1.417em;
  height: 3.5em;
  overfow: hidden;
  padding: 1em;
  text-align: left;

  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 50;

  a, span {
    color: #999;
    display: inline-block;
    padding: .2em;
    verticl-align: middle;
  }

  #link-language {
    border: 1px #6c6465 solid;
    border-color: rgba(255, 255, 255, .3);
    display: inline-block;
    margin-left: 1em;
    text-decoration: none;
    position: relative;
    padding-right: 2em;
    min-width: 7em;

    &:before {
      background: url(../img/mobile/bottom-links.png) no-repeat 50% 50%;
      background-size: 100% auto;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      right: .5em;
      width: .75em;
    }

    &.language-displayed {
      &:before {
          -moz-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
}

a#link-to-bottom-links, a#link-to-music {
  border-left: 1px #2a2a2a solid;
  bottom: 0;
  display: block;
  height: 100%;
  padding: 0;
  position: absolute;
  right: 0;
  width: 4em;

  &:before {
    background: url(../img/mobile/bottom-links.png) no-repeat 50% 50%;
    background-size: 40% auto;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &.bottom-link-displayed {
    &:before {
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}
a#link-to-music {
  right: 4em;

  &:before {
    background: url(../img/mobile/ico-music.png) no-repeat 50% 50%;
    background-size: 40% auto;
  }
}