{% extends "mobile/layout.html.twig" %}

{% block content %}{% autoescape false %}
	<h1>{{ __t('mobile_after_video_h1') }}</h1>
  {% set test_drive_link = __t('test_drive_link') %}
  {% if test_drive_link %}
      <p><a href="{{ __t('test_drive_link') }}" class="btn external-link" data-info="TestDrive" target="_blank">{{ __t('claim_a_test_drive') }}</a></p>
  {% endif %}

    <div id="another-video">
      <p class="another-video-headline">{{ __t('mobile_choose_another_journey') }} <strong><span class="actual">1</span>/<span class="count">00</span></strong></p>
      <div class="sly-wrap">      
        <div class="scrollbar">
          <div class="handle">
            <div class="mousearea"></div>
          </div>
        </div>

        <div class="sly">
          <ul class="ul-list"></ul>
        </div>
      </div>
      <p><a href="{{ url('mobile', { lang: culture.culture, page: 'statistics' }) }}" class="your-achievements">{{ __t('your_achievements') }}</a></p>
    </div>

    <p class="or-create">{{ __t('mobile_or_create_your_own_journey') }}<br><a href="{{ url('mobile', { lang: culture.culture, page: 'create' }) }}" class="btn btn-black">{{ __t('mobile_go_create') }}</a></p>
{% endautoescape %}{% endblock %}

{% block morejs %}
  <script src="/assets/js/libs/sly.js"></script>
{% endblock %}