{% extends "mobile/layout.html.twig" %}

{% block content %}{% autoescape false %}
<div class="create-header">
  <h1>{{ __t('mobile_create_h1') }}</h1>
  <p>{{ __t('set_mood_for_ride') }}</p>
  <select name="" id="map-select" data-choose="{{ __t('placeholder_choose') }}"></select>
</div>

<div id="create-content" class="create-content">
	<div id="map-container">
		<div id="search-box-container">
			<input id="search-box" type="text" placeholder="" />
		</div>
		<div id="map"></div>
	</div>

	<div id="timeline-container">
		<div id="timeline"></div>
	</div>

	<div id="sv-overlay"{% if r >= 0 %} style="display:block;"{% endif %}>
		<div id="sv-preloader">
			<div id="sv-progress"></div>
			<p id="preloader-small-text1"></p>
			<p id="preloader-large-text"></p>
			<p id="preloader-small-text2"></p>
			<p id="preloader-image">
				<img src="/assets/img/mobile/skoda.png">
				<span id="preloader-image-text"><span class="btn">{{ __t('get_going') }}</span></a>
			</p>
			<!--<div id="sv-back-button" class="btn btn-black">BACK TO MAP</div>-->
		</div>
	</div>

	<div id="map-tutorial">
		<h2>{{ __t('map_help_title') }}</h2>

		<ul class="create-tutorial" id="map-tutorial">
		  <li><img src="/assets/img/mobile/i.png"><span class="create-tutorial-content"><em>1</em> {{ __t('map_help_step_1') }}</span></li>
		  <li><img src="/assets/img/mobile/i.png"><span class="create-tutorial-content"><em>2</em> {{ __t('map_help_step_2') }}</span></li>
		  <li><img src="/assets/img/mobile/i.png"><span class="create-tutorial-content"><em>3</em> {{ __t('map_help_step_3') }}</span></li>
		</ul>

		<p><a href="#" class="btn btn-black" id="map-create-button">{{ __t('mobile_go_create') }}</a></p>
	</div>
</div>

{% endautoescape %}{% endblock %}

{% block morejs %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places&amp;sensor=false"></script>
	<script src="/assets/js/skoda.maps.js"></script>
	<script src="/assets/js/skoda.streetview.js"></script>

	<script>
		google.maps.event.addDomListener(window, 'load', function(){
	    	window.SkodaMap = new SkodaMapModule();
        {% if r >= 0 %}
            r4.playJourney();
        {% endif %}
	    });
	    $(window).unload(function(){
			if(window.SkodaMap)
				window.SkodaMap.dispose();

			if(window.SkodaStreetView)
				window.SkodaStreetView.dispose();
	    });
    </script>
{% endblock %}

