{% extends "mobile/layout.html.twig" %}

{% block content %}{% autoescape false %}
	<h1>{{ __t('hp_h1_p1') }} <strong>{{ __t('hp_h1_p2') }}</strong> {{ __t('hp_h1_p3') }}</h1>
	<h2>{{ __t('description_mobile') }} <a href="{{ __t('model_link') }}" class="external-link" data-info="SpacebackInfo">ŠKODA Rapid Spaceback</a>.</h2>
  <span class="skoda-play">
    <img src="/assets/img/mobile/skoda.png">
    <div id="video-player-wrap">
      <span id="video-player-wrap-close"></span>
      <video id="video-player" preload="none" width="640" height="264" poster="/assets/video/video.jpg" data-setup="{}">
        <source src="/assets/video/video-small.mp4" type='video/mp4' />
        <source src="/assets/video/video-small.webm" type='video/webm' />
        <source src="/assets/video/video-small.ogv" type='video/ogg' />
      </video>
    </div>
  </span>
	<p><a href="{{ url('mobile', { lang: culture.culture, page: 'journey' }) }}" class="btn">{{ __t('get_going') }}</a></p>
{% endautoescape %}{% endblock %}