{% extends "mobile/layout.html.twig" %}

{% block content %}{% autoescape false %}
  <h1>{{ __t('mobile_journey_h1') }}</h1>
  <ul class="ul-list"></ul>
  <p>{{ __t('create_your_own_test_drive') }}<br><a href="{{ url('mobile', {lang: culture.culture, page: 'create'}) }}" class="btn btn-black">{{ __t('create') }}</a></p>
{% endautoescape %}{% endblock %}

