<!doctype html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ __t('title') }}</title>
	<meta name="description" content="">
	<meta name="author" content="">

  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />

	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="/assets/css/mobile.css?v=2">

	<script>
        window.appConfig = {
            appId: '{{ app.config.fb.appId }}',
            host: '{{ app.request.host }}',
            gmaps: {
                lat: '{{ culture.gmap_lat }}',
                lng: '{{ culture.gmap_lng }}'
            },
            culture: '{{ culture.culture }}',
            route: '{{ r }}'
        };
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43904634-1', 'rapidspaceback.com');
        ga('send', 'pageview');
    </script>
</head>
<body class="page {{bodyClass}} lang-{{ culture.culture }}" data-page="{{bodyClass}}">

	<div class="page-content">
		{% autoescape false %}
			{% block content %}{% endblock %}
		{% endautoescape %}
	</div>

  <ul id="bottom-links">
		{% set model_link = __t('model_link') %}
      {% if model_link %}
        <li><a href="{{ __t('model_link') }}" class="external-link" data-info="SpacebackInfo" target="_blank">{{ __t('more_about_spaceback') }}</a></li>
      {% endif %}
  		<li><a href="{{ url('mobile', { lang: culture.culture, page: 'statistics' }) }}">{{ __t('driving_statistics') }}</a></li>
      {% set pp_link = __t('privacy_policy') %}
      {% if pp_link != '' %}
        <li><a href="" class="btn-privacy-policy">{{ __t('privacy_policy') }}</a></li>
      {% endif %}
  		<li><a href="{{ url('mobile', { lang: culture.culture, page: 'journey' }) }}">{{ __t('choose_the_route') }}</a></li>
      {% set impressum_link = __t('impressum_link') %}
      {% if impressum_link != '' %}
          <li><a href="{{ __t('impressum_link') }}" target="_blank">{{ __t('impressum') }}</a></li>
      {% endif %}
      {% set newsletter_link = __t('newsletter_link') %}
      {% if newsletter_link != '' %}
          <li><a href="{{ __t('newsletter_link') }}" target="_blank">{{ __t('newsletter') }}</a></li>
      {% endif %}
	</ul>

  <ul id="music-links">
    <li><a href="/assets/data/MP3_track.mp3" target="_blank">{{ __t('soundtrack_mp3') }} {{ __t('soundtrack_mp3_size') }}</a></li>
    <li><a href="/assets/data/MP3_ringtone.mp3" target="_blank">{{ __t('ringtone_mp3') }} {{ __t('ringtone_mp3_size') }}</a></li>
    <li><a href="/assets/data/iPhone_ringtone.m4r" target="_blank">{{ __t('ringtone_iphone') }} {{ __t('ringtone_iphone_size') }}</a></li>    
  </ul>

  {% set pp = __t('pp') %}
  {% if pp != '' %}
  <div class="privacy-policy">
    <section><div class="in-privacy-policy">
        {% autoescape false %}
        {{ pp }}
        {% endautoescape %}
        <a href="" class="btn btn-close" data-step="4"><span>{{ __t('go_back') }}</span><i></i></a>
    </div></section>
  </div>
  {% endif %}

	<div id="languages">
		<h1>{{ __t('select_your_language') }}</h1>
		<ul>
		{% for siteCulture in availableCultures %}
			<li><a href="/{{siteCulture.culture}}">{{siteCulture.label}}</a></li>
		{% endfor %}
		</ul>
	</div>

	<div id="footer">
		<p><span>{{ __t('language') }}</span> <a href="" id="link-language">{{ __t('current_language') }}</a></p>
    <a href="#music" id="link-to-music"></a>
		<a href="#bottom-links" id="link-to-bottom-links"></a>
	</div>

	<script src="/assets/js/jquery.min.js"></script>
	<script src="/{{culture.culture}}/ajax/templates.js"></script>

	{% block morejs %}{% endblock %}

  <script src="/assets/js/global-mobile.js"></script>

</body>
</html>