{% extends "mobile/layout.html.twig" %}

{% block content %}{% autoescape false %}
  <h1>{{ __t('driving_statistics') }}</h1>
  <div class="statistics-box">
    <h2>{{ __t('top_drivers') }}</h2>
    <p>{{ __t('statistics_top_head') }}</p>
    <ul>
      {% for user in statistics.top5 %}
        <li>{{ user.name}} <strong>{{user.km}}&nbsp;<span>Km</span></strong><span class="statistics-bar" style="width: {{user.percentage}}%;"></span></li>
      {% endfor %}
    </ul>
  </div>

  <div class="statistics-box statistics-box-2">
    <h2>{{ __t('more_statistics') }}</h2>
    <ul class="statistics-list-2">
      {% for stat in statistics.facts %}
      <li>
        {% if stat.percentage > 0 %}
          {{ stat.text }}<span class="statistics-bar" style="width: {{stat.percentage}}%;"></span>
        {% else %}
          <p>{{ stat.text }}</p>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  
  {% set test_drive_link = __t('test_drive_link') %}
  {% if test_drive_link %}
      <p><a href="{{ __t('test_drive_link') }}" class="btn external-link" data-info="TestDrive" target="_blank">{{ __t('claim_a_test_drive') }}</a></p>
  {% endif %}
{% endautoescape %}{% endblock %}