{% extends "layout.html.twig" %}

{% block content %}
	<div class="page page-active error-404">
	<section>
		<div class="in-error-404">
			<h1>{{ __t('404_h1') }}</h1>
			<h2>{{ __t('404_text') }}</h2>
			<img src="/assets/img/error-404.png" alt=""><br>
			<a href="/" class="to-home">{{ __t('404_hp') }}</a>
		</div>
	</section>
	<div class="bg-img"><img src="/assets/img/statistics-bg.jpg" alt=""></div>
</div>
{% endblock %}