{% extends "layout.html.twig" %}

{% block content %}{% autoescape false %}

	{% if isRide %}
		<script>
			appConfig.ride = {
				points: {{ ride.points|raw }},
				target: {{ ride.target|raw }},
				speed: {{ ride.speed }},
				effect: {{ ride.effect }},
				pitch: {{ ride.pitch }},
				hash: '{{ ride.hash }}'
			};
		</script>
	{% endif %}

	{#
		Initial first screen
	#}

	<div class="page page-1 home" data-pid="1" data-page="home">
		<section>
			<article>
				<div class="in-article">
					<h1>{{ __t('hp_h1_p1') }}<br><strong>{{ __t('hp_h1_p2') }}</strong><br><span>{{ __t('hp_h1_p3') }}</span></h1>
					<ul>
						<li>{{ __t('hp_claim_1') }}</li>
						<li>{{ __t('hp_claim_2') }}</li>
						<li>{{ __t('hp_claim_3') }}</li>
					</ul>
					<div class="btn-list">
						<a href="#" class="btn-fb-login page-step" data-step="2" data-controller="HomepageController"><i></i>{{ __t('connect_with_facebook') }}</a><br>
						<a href="" class="page-step" data-step="2" data-controller="HomepageController">{{ __t('continue_without_fb_connect') }}</a>
					</div>
				</div>
				<div class="buffer"><i></i><strong></strong></div>
			</article>

			<i class="arrow-left-top"></i>
			<i class="arrow-left-bottom"></i>
			<i class="arrow-right-top"></i>
			<i class="arrow-right-bottom"></i>
			<div class="aside-bg"></div>
		</section>
		<div class="bg-img"><img src="/assets/video/video.jpg" alt="" width="100%"></div>
	</div>

	{#
		Screen 2 - Route picking
	#}

	<div class="page page-2 list" data-pid="2" data-page="list">
		<section>
			<div class="list-info">
				<h1>{{ __t('page_2_h1') }}</h1>
				<h2>{{ __t('route') }} <span></span></h2>
				<div class="controls">
					<span class="btn-prev"><i class="stay">{{ __t('prev') }}</i><i class="hover"></i></span>
					<span class="btn-next"><i class="stay">{{ __t('next') }}</i><i class="hover"></i></span>
				</div>
			</div>
			<div class="list-slider">
				<div class="slider-content"><div class="slider"><ul class="ul-list"></ul></div></div>
				<div class="create-own">
					<p>{{ __t('create_your_own_test_drive') }}</p>
					<a href="#" class="btn-black page-step" data-step="3"><span>{{ __t('create') }}</span><i></i></a>
				</div>
			</div>
		</section>
		<div class="bg-img"><img src="/assets/img/list-bg.jpg" alt=""></div>
	</div>

	{#
		Screen 3 - Map + friends + mood
	#}

	<div class="page page-3 maps" data-pid="3" data-page="maps">
		<section>
			<div class="maps-aside"><div class="in-maps-aside">
				<h1>{{ __t('page_3_h1') }}</h1>

				<label for="">{{ __t('set_mood_for_ride') }}</label>
				<select name="" id="moodselector" data-placeholder="{{ __t('placeholder_choose') }}">
					<option></option>
					<option value="0">Retro</option>
					<option value="1">Hip Hop</option>
					<option value="2">Pop</option>
					<option value="3">Chill Out</option>
					<option value="4">House</option>
					<option value="5">Dubstep</option>
					<option value="6">Rock</option>
				</select>

				<div class="map-auth">
					<div class="map-friends">
						<label for="">{{ __t('invite_your_friends_to_test_drive') }}</label>
						<a href="" class="btn-friend">{{ __t('type_name_of_your_friend') }}</a>
						<ul class="friend-list"></ul>
					</div>
					<a href="#" id="fb-connect-button" class="page-step" data-step="3" data-controller="MapsConnectController">{{ __t('connect_with_facebook') }}</a>
				</div>

				{% set model_link = __t('model_link') %}
                {% if model_link %}
                    <a href="{{ __t('model_link') }}" class="btn-about-car" target="_blank">{{ __t('more_about_spaceback_br') }}</a>
                {% endif %}

				</div><img src="/assets/img/maps-aside-bg.png" alt="" class="aside-bg">
			</div>
			<div class="maps-help">
				<article>
					<h1>{{ __t('map_help_title') }}</h1>
					<ul>
						<li class="item-1">
							<h2>1</h2>
							<p>{{ __t('map_help_step_1') }}</p>
						</li>
						<li class="item-2">
							<h2>2</h2>
							<p>{{ __t('map_help_step_2') }}</p>
						</li>
						<li class="item-3">
							<h2>3</h2>
							<p>{{ __t('map_help_step_3') }}</p>
						</li>
					</ul>
					<div class="desc">
						<img src="/assets/img/maps-help-animation.gif" alt="">
						<p class="max"><strong>{{ __t('max') }}</strong><br>20 km</p>
						<p class="min"><strong>{{ __t('min') }}</strong><br>1 km</p>
						<p class="ideal"><strong>{{ __t('ideal') }}</strong><br>10 km</p>
					</div>
					<a href="" id="maps-create-btn" class="btn-black"><span>{{ __t('create') }}</span> <i></i></a>
				</article>
			</div>
			<div class="maps-content">
				<div id="map-container">
					<div id="searchBoxContainer">
				  	<input id="searchBox" type="text" placeholder="{{ __t('search_box_placeholder') }}">
					</div>
					<div id="map"></div>
				</div>

		  	<div id="flashcontainer"></div>
			</div>

			<div class="maps-error">
				<article>
					<h1>{{ __t('no_streetview_error') }}</h1>
					<a href="" class="close">{{ __t('close_button') }}</a>
				</article>
			</div>
		</section>
		<div class="bg-img"><img src="/assets/img/maps-help-bg.jpg" alt=""></div>
	</div>

	{#
		Screen 4 - After video screen
	#}

	<div class="page page-4 after-video" data-pid="4" data-page="after-video">
		<section>
			<div class="in-after-video">
				<article>
					<h1>{{ __t('after_video_h1') }}</h1>
					<p>{{ __t('after_video_claim') }}</p>
					{% set test_drive_link = __t('test_drive_link') %}
	                {% if test_drive_link %}
	                    <a href="{{ __t('test_drive_link') }}" class="btn-green external-link" data-info="TestDrive" target="_blank"><span>{{ __t('claim_a_test_drive') }}</span><i></i></a>
	                {% endif %}

					<div class="list-slider">
						<h2>{{ __t('ride_again_question') }}</h2>
						<div class="slider-content"><div class="slider"><ul class="ul-list"></ul></div></div>
					</div>
					<div class="list-info">

						<div class="controls">
							<span class="btn-prev">{{ __t('prev') }}</span>
							<span class="btn-next">{{ __t('next') }}</span>
						</div>
					</div>
				</article>
				<article class="last">
					<div class="car">
						<img src="/assets/img/after-video-car.png" alt="" class="act">
						<img src="/assets/img/after-video-car-2.png" alt="">
						<img src="/assets/img/after-video-car-3.png" alt="">
					</div>

					<div class="last-more">
						<div class="pull-left"><a href="" class="btn-black page-step" data-step="3"><span>{{ __t('create') }}</span> <i></i></a></div>
						<div class="pull-right"><h1>{{ __t('create_your_own_test_drive_aftervideo') }}</h1></div>
					</div>
					<p>
						<a href="" class="page-step" data-step="5">{{ __t('your_achievements') }}</a>
						{% set model_link = __t('model_link') %}
            {% if model_link %}
              <a href="{{ __t('model_link') }}" class="external-link" data-info="SpacebackInfo" target="_blank">{{ __t('more_about_spaceback') }}</a>
            {% endif %}
						<span class="after-more-music"><a href="">{{ __t('music_download') }}</a></span>
					</p>
				</article>
			</div>
		</section>
		<div class="bg-img"><img src="/assets/img/after-video-bg.jpg" alt=""></div>
	</div>

	{#
		Screen 5 - Statistics
	#}

	<div class="page page-5 statistics" data-pid="5" data-page="statistics">
		<section>
			<div class="in-statistics">
				<h1>{{ __t('driving_statistics') }}</h1>
				<a href="" class="btn-green btn-back page-step" data-step="4"><span>{{ __t('go_back') }}</span><i></i></a>
				<div class="statistics-list">
					<article>
						<aside>
							<i class="ico-star"></i>
							<h1>{{ __t('top_drivers') }}</h1>
						</aside>
						<div class="in-article">
							<p>{{ __t('statistics_top_head') }}</p>
							<ul>
								{% for user in statistics.top5 %}
									<li>
										<div class="desc"><h2>{{user.name}}</h2><div class="count"><strong>{{user.km}}</strong> Km</div></div>
										<div class="graph"><i style="width:{{user.percentage}}%"></i></div>
									</li>
								{% endfor %}
							</ul>
						</div>
					</article>
					<article class="last">
						<aside>
							<i class="ico-user"></i>
							<h1>{{ __t('more_statistics') }}</h1>
						</aside>
						<div class="in-article">
							<ul>
								{% for stat in statistics.facts %}
								<li>
									{% if stat.percentage > 0 %}
										<div class="desc"><div class="count"><strong>{{ stat.percentage }} %</strong></div></div>
										<div class="graph"><i style="width:{{ stat.percentage }}%"></i></div>
										<p>{{ stat.text }}</p>
									{% else %}
										<p>{{ stat.text }}</p>
									{% endif %}
								</li>
								{% endfor %}
							</ul>
						</div>
					</asrticle>
				</div>
				<ul class="country-stats">
					<li class="country-{{ culture.country }}">
						<i></i>
						<div class="desc">{{ __t('drivers') }}<br><strong>{{ statistics.geo.culture }}</strong> Km</div>
					</li>
					<li class="country-europe">
						<i></i>
						<div class="desc">{{ __t('europe') }}<br><strong>{{ statistics.geo.region }}</strong> Km</div>
					</li>
					<li class="car"><img src="/assets/img/country-stats-car.png" alt=""></li>
				</ul>

				{% set test_drive_link = __t('test_drive_link') %}
                {% if test_drive_link %}
                    <a href="{{ __t('test_drive_link') }}" class="btn-green external-link" data-info="TestDrive" target="_blank"><span>{{ __t('claim_a_test_drive') }}</span><i></i></a>
                {% endif %}
			</div>
		</section>
		<div class="bg-img"><img src="/assets/img/statistics-bg.jpg" alt=""></div>
	</div>

	<div id="fb-root"></div>

{% endautoescape %}{% endblock %}