{% autoescape true js %}
var SkodaBackendConfig = {
	Templates: {},
	i18n: {
	{% for key, text in translations %}
		'{{key}}': '{{ text }}',
	{% endfor %}
		'': ''
	}
};

{% if isTablet == true or isMobile == false %}
SkodaBackendConfig.Templates.routeBox = ['<li class="__class__" data-item="__dataItem__" data-route-id="__routeId__">',
	'<article>',
		'<a href="" class="list-small"><div class="desc"><h1><i></i>__routeName__</h1></div></a>',
		'<div class="detail">',
		'<a href="" class="close">{{ __t('close') }}</a>',
		'<div class="desc"><h1>__routeName__</h1><div class="detail-friend"><label for="">{{ __t('invite_your_friends_to_test_drive') }}</label><a href="" class="btn-friend">{{ __t('type_name_of_your_friend') }}</a><ul class="friend-list"></ul></div></div></div>',
		'<a href="#" class="btn get-going-btn page-step" data-step="3" data-controller="GetGoingController">{{ __t('get_going') }}</a>',
		'<img src="__listImg__" alt="">',
	'</article>',
'</li>'].join('');

SkodaBackendConfig.Templates.afterRideRouteBox = ['<li data-item="__dataItem__" data-route-id="__routeId__">',
	'<article class="__class__">',
		'<a href="" class="list-small page-step" data-step="3" data-controller="GetGoingController"><div class="desc"><h1><i></i>__routeName__</h1></div><span class="btn">{{ __t('get_going') }}</span>',
		'<span class="btn ride-again page-step" data-step="3" data-controller="GetGoingController">{{ __t('get_going') }}</span></a>',
		'<img src="__listImg__" alt=""></article></li>'].join('');

SkodaBackendConfig.Templates.routeBoxShare = ['<div class="share-ride">',
	'<a href="#" class="email-share" onclick="javascript:window.location=\'mailto:?subject={{ __t('fb_og_title') }}&body={{ __t('twitter_share_text') }} __routeUrl__\';return false;">E-mail</a>',
	'<a href="#" onclick=" window.open(\'https://www.facebook.com/sharer/sharer.php?u=\'+encodeURIComponent(\'__routeUrl__\'), \'facebook-share-dialog\', \'width=626,height=436\'); return false;" class="fb-share">Share</a>',
	'<a href="https://twitter.com/share" class="twitter-share-button" data-url="__routeUrl__" data-text="{{ __t('twitter_share_text') }}" data-count="none">Tweet</a></div>'].join('');

SkodaBackendConfig.Templates.friendIcon = '<li><a href="" data-fid="__fid__"><img src="https://graph.facebook.com/__fid__/picture?type=square" alt=""> <i></i></a></li>';

{% else %}
	SkodaBackendConfig.Templates.ride = '<li data-route-id="__routeId__"><h2>__routeName__</h2><img src="__image__" alt=""></li>';
{% endif %}
{% endautoescape %}


