<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ __t('title') }}</title>

    <meta property="og:title" content="{{ __t('fb_og_title') }}" />
    <meta property="og:url" content="http://{{app.request.host}}{{ app.request.getRequestURI() }}" />
    <meta property="og:site_name" content="ŠKODA Rapid Spaceback" />
    <meta property="og:image" content="http://{{app.request.host}}/assets/img/fb-image-01.jpg" />
    <meta property="og:image" content="http://{{app.request.host}}/assets/img/fb-image-02.jpg" />
    <meta property="og:image" content="http://{{app.request.host}}/assets/img/fb-image-03.jpg" />
    <meta property="og:image" content="http://{{app.request.host}}/assets/img/fb-image-04.jpg" />
    <meta property="og:image" content="http://{{app.request.host}}/assets/img/fb-image-05.jpg" />
    <meta property="og:image" content="http://{{app.request.host}}/assets/img/fb-image-06.jpg" />
    <meta property="og:image" content="http://{{app.request.host}}/assets/img/fb-image-07.jpg" />
    <meta property="og:image" content="http://{{app.request.host}}/assets/img/fb-image-08.jpg" />
    <meta property="og:description" content="{{ __t('description') }}" />
    <meta property="fb:app_id" content="{{ app.config.fb.appId }}" />

    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <script>
        window.appConfig = {
            appId: '{{ app.config.fb.appId }}',
            host: '{{ app.request.host }}',
            gmaps: {
                lat: '{{ culture.gmap_lat }}',
                lng: '{{ culture.gmap_lng }}'
            },
            culture: '{{ culture.culture }}',
            isTablet: {% if isTablet == false %}false{% else %}true{% endif %},
            isMobile: {% if isMobile == false %}false{% else %}true{% endif %}
        };
    </script>

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css?v=1" />
    {% if isTablet == true %}
    <link rel="stylesheet" type="text/css" href="/assets/css/tablet.css?v=1" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/assets/css/tdfriendselector.css" />
    <script src="/assets/js/libs/modernizr.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43904634-1', 'rapidspaceback.com');
        ga('send', 'pageview');
    </script>

</head>
<body class="lang-{{ culture.culture }}">
    {% autoescape false %}
    <header><div class="header">
        <strong class="motto">SIMPLY CLEVER</strong>
        <h1><a href="/{{ culture.culture }}">ŠKODA</a></h1>
    </div></header>

    {% block content %}{% endblock %}

    {% if error is not defined %}

        <footer>
            <div class="pull-left">
                <span>{{ __t('language') }}</span>
                <a href="" class="btn-language">{{ __t('current_language') }}</a>
                {% set model_link = __t('model_link') %}
                {% if model_link != '' %}
                    <a href="{{ __t('model_link') }}" class="external-link" data-info="SpacebackInfo" target="_blank">{{ __t('more_about_spaceback') }}</a>
                {% endif %}
                <span class="hr"></span>
                <a href="" class="page-step" data-step="5">{{ __t('driving_statistics') }}</a>
                <span class="hr"></span>
                <a href="" class="sound-on">{{ __t('sound_on') }}</a>
                <a href="" class="sound-off act">{{ __t('sound_off') }}</a>

                {% set impressum_link = __t('impressum_link') %}
                {% set pp_link = __t('privacy_policy') %}
                {% set newsletter_link = __t('newsletter_link') %}
                {% if impressum_link != '' or pp_link != '' or newsletter_link != '' %}
                <div class="more">
                    <a href="">{{ __t('more') }}</a>
                    <ul class="more-list">
                        {% if impressum_link != '' %}
                          <li><a href="{{ __t('impressum_link') }}" target="_blank">{{ __t('impressum') }}</a></li>
                        {% endif %}
                        {% if pp_link != '' %}
                            <li><a href="" class="btn-privacy-policy">{{ __t('privacy_policy') }}</a></li>
                        {% endif %}
                        {% if newsletter_link != '' %}
                            <li><a href="{{ __t('newsletter_link') }}" target="_blank">{{ __t('newsletter') }}</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}


                {% set facebook_page_url = __t('facebook_page_url') %}
                {% if facebook_page_url != '' %}
                    <a href="{{ __t('facebook_page_url') }}" class="btn-fb" target="_blank">Facebook <i></i></a>
                {% endif %}

                <div class="more more-music">
                    <a href="">Soundtrack and ringtone</a>

                    <ul class="more-list">
                        <li><a href="/assets/data/MP3_track.mp3" class="btn-no-gravity-soundtrack">{{ __t('soundtrack_mp3') }}</a></li>
                        <li><a href="/assets/data/MP3_ringtone.mp3" class="btn-no-gravity-ringtone">{{ __t('ringtone_mp3') }}</a></li>
                        <li><a href="/assets/data/iPhone_ringtone.m4r" class="btn-no-gravity-ringtone-iphone">{{ __t('ringtone_iphone') }}</a></li>    
                      </ul>
                </div>
            </div>
            <div class="pull-right">
                <a href="" class="page-step" data-step="2">{{ __t('choose_the_route') }}</a>
                {% set test_drive_link = __t('test_drive_link') %}
                {% if test_drive_link != '' %}
                    <a href="{{ __t('test_drive_link') }}" class="btn-green external-link" data-info="TestDrive" target="_blank"><span>{{ __t('claim_a_test_drive') }}</span><i></i></a>
                {% else %}
                    &nbsp;&nbsp;&nbsp;
                {% endif %}
            </div>
        </footer>

        <div id="peekaboo"></div>

        {% if isTablet == false %}

        <div class="video"><video id="video" loop width="632" height="394">
            <source src="/assets/video/video.mp4" type="video/mp4" />
            <source src="/assets/video/video.webm" type="video/webm" />
            <source src="/assets/video/video.ogg" type="video/ogg" />
        </video></div>

        <div class="audio"><audio preload="auto" loop autobuffer>
            <source src="/assets/video/loop.mp3" type="audio/mpeg" />
            <source src="/assets/video/loop.ogg" type="audio/ogg" />
            <source src="/assets/video/loop.wav" type="audio/vnd.wav" />
        </audio></div>

        {% endif %}

        <div class="language">
            <section><div class="in-language">
                <h1>{{ __t('select_your_language') }}</h1>
                <ul>
                    {% for siteCulture in availableCultures %}
                        <li{% if loop.index > 1 and loop.index < 5 %} class="no-border"{% endif %}><a href="/{{siteCulture.culture}}">{{ siteCulture.label }}</a></li>
                    {% endfor %}
                </ul>
            </div></section>
            <div class="bg-img"><img src="/assets/img/language-bg.jpg" alt=""></div>
        </div>

        {% set pp = __t('pp') %}
        {% if pp != '' %}
        <div class="privacy-policy">
            <section><div class="in-privacy-policy">
                {% autoescape false %}
                {{ pp }}
                {% endautoescape %}
                <a href="" class="btn-green" data-step="4"><span>{{ __t('go_back') }}</span><i></i></a>
            </div></section>
            <div class="bg-img"><img src="/assets/img/privacy-policy-bg.jpg" alt=""></div>
        </div>
        {% endif %}

        <div class="no-gravity-soundtrack">
            <section><div class="in-no-gravity">
                <h1>{{ __t('soundtrack_mp3') }}</h1>
                <ul>
                    <li><a href="/assets/data/MP3_track.mp3">{{ __t('soundtrack_download') }} {{ __t('soundtrack_mp3_size') }}</a></li>
                </ul>
                <p class="in-qr">{{ __t('qr') }}</p>
                <p class="in-qr"><img src="/assets/img/qr-code-soundtrack.png" alt="QR Code"></p>
                <p><a href="" class="btn-green" data-step="4"><span>{{ __t('go_back') }}</span><i></i></a></p>
            </div></section>
            <div class="bg-img"><img src="/assets/img/privacy-policy-bg.jpg" alt=""></div>
        </div>

        <div class="no-gravity-ringtone">
            <section><div class="in-no-gravity">
                <h1>{{ __t('ringtone_mp3') }}</h1>
                {{ __t('ringtone_download') }}
                <p class="in-qr">{{ __t('qr') }}</p>
                <p class="in-qr"><img src="/assets/img/qr-code-ringtone.png" alt="QR Code"></p>
                <p><a href="" class="btn-green" data-step="4"><span>{{ __t('go_back') }}</span><i></i></a></p>
            </div></section>
            <div class="bg-img"><img src="/assets/img/privacy-policy-bg.jpg" alt=""></div>
        </div>

        <div class="no-gravity-ringtone-iphone">
            <section><div class="in-no-gravity">
                <h1>{{ __t('ringtone_iphone') }}</h1>
                {{ __t('ringtone_iphone_text') }}
                <p><a href="" class="btn-green" data-step="4"><span>{{ __t('go_back') }}</span><i></i></a></p>
            </div></section>
            <div class="bg-img"><img src="/assets/img/privacy-policy-bg.jpg" alt=""></div>
        </div>

        {% if isTablet == false %}

        <div id="TDFriendSelector">
            <div class="TDFriendSelector_dialog">
                <a href="#" id="TDFriendSelector_buttonClose">x</a>
                <div class="TDFriendSelector_form">
                    <div class="TDFriendSelector_header">
                        <p>{{ __t('fpicker_select_your_friends') }}</p>
                    </div>
                    <div class="TDFriendSelector_content">
                        <p>{{ __t('fpicker_invite') }}</p>
                        <div class="TDFriendSelector_searchContainer TDFriendSelector_clearfix">
                            <div class="TDFriendSelector_selectedCountContainer"><span class="TDFriendSelector_selectedCount">0</span> / <span class="TDFriendSelector_selectedCountMax">0</span> {{ __t('fpicker_friends_selected') }}</div>
                            <input type="text" placeholder="{{ __t('fpicker_search_friends') }}" id="TDFriendSelector_searchField" />
                        </div>
                        <div class="TDFriendSelector_friendsContainer"></div>
                    </div>
                    <div class="TDFriendSelector_footer TDFriendSelector_clearfix">
                        <a href="#" id="TDFriendSelector_pagePrev" class="TDFriendSelector_disabled">{{ __t('fpicker_prev') }}</a>
                        <a href="#" id="TDFriendSelector_pageNext">{{ __t('fpicker_next') }}</a>
                        <div class="TDFriendSelector_pageNumberContainer">
                            {{ __t('fpicker_page') }} <span id="TDFriendSelector_pageNumber">1</span> / <span id="TDFriendSelector_pageNumberTotal">1</span>
                        </div>
                        <a href="#" id="TDFriendSelector_buttonOK">{{ __t('fpicker_ok') }}</a>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

    {% endif %}

    {% endautoescape %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='/assets/js/libs/jquery-1.9.0.min.js'>\x3C/script>")</script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places&amp;sensor=false"></script>

    {% if isTablet == false %}
        <script src="/assets/js/swfobject.js"></script>
        <script src="/assets/js/libs/video.js"></script>
        <script>videojs.options.flash.swf = "/assets/video/video-js.swf";</script>
        <script src="/assets/js/libs/tdfriendselector.js"></script>
    {% endif %}

    <script src="/assets/js/libs/plugins.js"></script>
    <script src="/{{culture.culture}}/ajax/templates.js"></script>
    <script src="/assets/js/libs/sly.js"></script>
    <script src="/assets/js/libs/select2.min.js"></script>
    <script src="/assets/js/global.js?v=1"></script>

    {% if isTablet == false %}
        <script src="/assets/js/app.js"></script>
    {% else %}
        <script src="/assets/js/skoda.maps.js"></script>
        <script src="/assets/js/skoda.streetview.js"></script>

        <script>
            google.maps.event.addDomListener(window, 'load', function(){
                window.SkodaMap = new SkodaMapModule();
            });
            $(window).unload(function(){
                if(window.SkodaMap)
                    window.SkodaMap.dispose();

                if(window.SkodaStreetView)
                    window.SkodaStreetView.dispose();
            });
        </script>
        <script src="/assets/js/app-tablet.js"></script>
    {% endif %}
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</body>
</html>
