<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# skoda-rapid-spacebk: http://ogp.me/ns/fb/skoda-rapid-spacebk#">
        <title>{{ title }}</title>
        <meta property="fb:app_id" content="580330512024201" />
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:image" content="http://www.rapidspaceback.com/assets/img/fb-image-02.jpg" />
        {% if action == "enter" %}
            <meta property="og:url" content="http://hyperlapse.symbio.cz/action/{{ action }}" />
        {% elseif action == "enjoy" %}
            <meta property="og:url" content="http://hyperlapse.symbio.cz/action/{{ action }}" />
        {% endif %}
        <meta property="og:type" content="skoda-rapid-spacebk:{{ type }}" />
        <meta property="og:description" content="Experience a new dimension of space in the new ŠKODA Rapid Spaceback. Try the ultimate virtual test drive." />
    </head>
    <body>
        <script>
          window.onload=function() {
            {% if id is null %}
                document.location.href = 'http://www.rapidspaceback.com/{{culture}}'
            {% else %}
                document.location.href = 'http://www.rapidspaceback.com/{{culture}}/ride/{{id}}';
            {% endif %}
            return;
          };
        </script>
    </body>
</html>